.page-breadcrumbs{
    display: none;
}

.hide-control{
    display: none;
}

.form-layout {
    background-color: white;
    padding: 2rem;
}

.ql-container {
    background-color: white;
}

.web-form-actions{
    display: none;
}

.web-form-footer {
    display: none;
}