.page-breadcrumbs {
  display: none;
}

.hide-control {
  display: none;
}

.form-layout {
  background-color: white;
  padding: 2rem;
}

.ql-container {
  background-color: white;
}

.web-form-actions {
  display: none;
}

.form-group label {
  font-weight: bolder;
}

.control-label {
  font-weight: bolder;
}

.web-form-footer {
  display: none;
}

.hidden {
  display: none;
}

.field-styles {
  padding: 1.5rem 1rem;
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 2rem;
}

.label-styles {
  font-size: 1.4rem !important;
  font-weight: 500 !important;
}

.form-section-heading hr {
  margin: 1rem -2.1rem 2rem -2.1rem !important;
}

.solution-details-page-subheadings {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

#sector-options > .form-check-inline {
  font-size: var(--f14);
}

.alpha-primary-solid {
  box-sizing: border-box;
  color: var(--secondary6);
  background-color: var(--primary3);
  border: 2px solid var(--primary3);
  border-radius: var(--round4);
  font-size: var(--f14);
  font-weight: 600;
  letter-spacing: var(--space);
  line-height: 2.2rem;
}

.alpha-primary-solid:hover {
  color: var(--secondary6);
  background-color: var(--primary3);
}

.alpha-primary-outline {
  box-sizing: border-box;
  color: var(--primary3);
  background-color: transparent;
  border: 2px solid var(--primary1);
  border-radius: var(--round4);
  font-size: var(--f14);
  font-weight: 600;
  letter-spacing: var(--space);
  line-height: 2.2rem;
}

.alpha-primary-outline:hover {
  color: var(--primary3);
  background-color: transparent;
}

.auto-saved {
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: var(--space);
  margin-bottom: 0px;
}

.add-problem-icon {
  line-height: 4rem;
  width: 2rem;
  font-size: 3rem;
  height: 2.4rem;
  margin-right: 1rem;
  zoom: 1.2;
}
