<!-- jinja -->
<!-- no-breadcrumbs -->
<!-- no-cache -->

<div class="">
  <div class="container">
    {% include "templates/includes/common/filter.html" %}
  </div>
  {% if problems %}
  <div class="row">
    <div class="col">
      <div class="col-sm-12 problem-listed-container">
        <div class="d-flex align-items-center">
          <img src="../assets/contentready_oip/svg/problem_icon_white.svg" alt="" height="24" width="20" />
          <div class="clearfix w-100" style="font-size: 2rem;">
            <span  class="ml-2" role="heading">
              Problems Listed (<span id="problems-count">{{ problems | length }} of {{ total_count }}</span>)
            </span>
            <span id="problems-count" class="ml-2 ml-md-0 float-left float-md-right">Page {{page}}</span>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="problems-container">
    {% for problem in problems %}
    <div class="col-md-6 mt-4">
      {% include "templates/includes/problem/problem_card.html" %}
    </div>
    {% endfor %}
  </div>
  {% if has_next_page or page != 1 %}
  {% include "templates/includes/common/page_navigator.html" %}
  {% endif %}
  {% else %}
  <script>
    function timeoutLoader() {
      frappe.ready(() => {
        setTimeout(() => {
          $('#loader').hide();
          $('#noResultFound').toggleClass('d-flex hidden');
        },10 * 1000);
      })
    }
  </script>
  <div class="alert alert-primary mt-5" role="alert" style="font-size: 1.4rem;" id="loader">
    <img src="/assets/contentready_oip/images/loader.gif" onload="timeoutLoader()" alt="loader" height="30" width="30">
    &nbsp;&nbsp;
    Loading content. If no content appears within a few seconds, try changing the filters.
  </div>

  <div class="text-center flex-column hidden" id="noResultFound" style="margin-top: 5rem;">
    <h2 class="text-muted">No Results Found</h2>
    <p>Try changing the filters</p>
  </div>

  {% endif %}
</div>

<style>
  @media only screen and (max-width: 600px){
    .problem-listed-container{
      height: 6.5rem;
    }
  }
</style>