<!-- jinja -->
<!-- no-breadcrumbs -->
<!-- no-cache -->

<div class="">
  <div class="container">
    {% include "templates/includes/common/filter.html" %}
  </div>

  <div class="row">
    <div class="col">
      <div class="col-sm-12 problem-listed-container">
        <div class="d-flex align-items-center">
          <img src="/files/problem_icon.svg" alt="" height="24" width="20" />
          <h3>
            Problems Listed (<span id="problems-count"
              >{{ problems | length }} of {{ total_count }}, Page {{page}}</span
            >)
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="problems-container">
    {% if problems %} {% for problem in problems %}
    <div class="col-md-6 mt-4">
      {% include "templates/includes/problem/problem_card.html" %}
    </div>
    {% endfor %} {% endif %}
  </div>
  
  <div class="row">
    <div class="col">
      <div class="col-sm-12 problem-listed-container">
        <div class="d-flex align-items-center">
          <h3>
            {% if has_next_page %}
            <a
              href="?page={{page + 1}}"
              style="text-decoration: none;color: white;"
            >
              Next Page
            </a>
            {% elif page != 1 %}
            <a href="?page={{page - 1}}" style="text-decoration: none;color: white;">
              Previous Page
            </a>
            {% endif %}
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  {% include "public/js/global.js" %}
</script>
