<div class="container mt-20">
    <div class="row bg-white main-card">
        <div class="col-md-4 img-section">
            {% set media = media %}
            {% include "templates/includes/common/header_featured_image.html" %}
        </div>
        <div class="col-md-8 card-detail-section">
            <div>
                <div class="row align-items-center pb-2">
                    <div class="col-sm-12 col-md-2 px-0 px-md-4">
                        {% include "templates/includes/solution/solution_label.html" %}
                    </div>
                    <div class="col-sm-6 col-md-3 px-0">
                        {% if collaboration_in_progress %}
                            {% include "templates/includes/common/collaboration_label.html" %}
                        {% endif %}
                    </div>
                    <div class="col-sm-12 col-md text-left text-md-right px-0">
                        <a href="#problems" class="see-solutions">
                            See Problem(s)
                        </a>
                        <span>
                            {% if frappe.session.user == owner %}
                            {% set doctype = doctype %}
                            {% set name = name %}
                            {% include "templates/includes/common/edit_icon.html" %}
                            {% endif %}
                            {% include "templates/includes/common/share.html" %}
                        </span>
                    </div>
                </div>

                {% include "templates/includes/common/validation_form.html" %}
                {% include "templates/includes/common/collaboration_form.html" %}

                <div class="row title-container">
                    <div class="col pr-0 problem-on-mobile">
                        <h1 class="problem-title">
                            {{ title }}
                        </h1>
                        {% include "templates/includes/common/location_tag.html" %}
                    </div>
                </div>
            </div>

            <div>
                <div class="row mt-md-5 mt-sm-4">
                    <div class="col d-flex align-items-center problem-on-mobile">
                        {% set doc_owner = owner %}
                        {% set date = creation %}
                        {% include "templates/includes/common/user_thumbnail.html" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-lg-4 action-btn-section mt-3">
                        <!-- <div class="stats-section"> -->
                            {% set doctype = doctype %}
                            {% set name = name %}
                            <div class="header-stats-container">
                                <div class="header-likes">
                                    {% include "templates/includes/common/likes.html" %}
                                </div>
                                <div class="watchers-likes">
                                    {% include "templates/includes/common/watchers.html" %}
                                </div>
                            </div>
                        <!-- </div> -->
                    </div>

                    <div class="col-md-12 col-lg-8 pr-0 action-btn-section mt-3">
                        <div class="d-flex justify-content-sm-start justify-content-lg-end flex-wrap">
                            {% if is_collaborator %}
                            <button type="button" class="card-btn mr-4"
                                onclick="openValidationForm('{{doctype}}', '{{name}}')">
                                Validate
                            </button>
                            {% endif %}
                            <button type="button" class="card-btn add-solution-btn"
                                onclick="openCollaborationForm('{{doctype}}', '{{name}}')">
                                Collaborate
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
  .header-stats-container{
    height: 100%;
    align-items: center;
    grid-template-columns: 30% 30%;
  }

  @media only screen and (max-width: 768px) and (min-width: 600px){
    .header-stats-container{
      grid-template-columns: 20% 20%;
    }
  }
</style>

<script>
    {% include "public/js/header_section.js" %}
</script>