<div class="container mt-20">
    <div class="row bg-white main-card">
        <div class="col-md-4 img-section">
            {% set images = images %}
            {% include "templates/includes/common/header_featured_image.html" %}
        </div>
        <div class="col-md-8 card-detail-section">
            <div>
                <div class="row ">
                    <div class="col d-flex justify-content-between pr-0 problem-on-mobile left-section">
                        {% include "templates/includes/solution/solution_label.html" %}
                        <div>
                            <a href="#problems-section" class="see-solutions">
                                See Problem(s)
                            </a>
                            {% if frappe.session.user == owner %}
                                {% set doctype = doctype %}
                                {% set name = name %}
                                {% include "templates/includes/common/edit_icon.html" %}
                                {% include "templates/includes/common/share.html" %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row title-container">
                    <div class="col pr-0 problem-on-mobile">
                        <h1 class="problem-title">
                            {{ title }}
                        </h1>
                        {% include "templates/includes/common/location_tag.html" %}
                    </div>
                </div>
            </div>

            <div>
                <div class="row mt-md-5 mt-sm-4">
                    <div class="col d-flex align-items-center problem-on-mobile">
                        {% set doc_owner = owner %}
                        {% set date = modified %}
                        {% include "templates/includes/common/user_thumbnail.html" %}
                    </div>
                </div>

                <div class="row ">
                    <div class="col-xl-4 align-self-center mt-3">
                        <div class="row  stats-section">
                            {% set doctype = doctype %}
                            {% set name = name %}
                            {% include "templates/includes/common/likes.html" %}
                            {% include "templates/includes/common/watchers.html" %}
                        </div>
                    </div>

                    <div class="col-xl-8 pr-0 action-btn-section mt-3">
                        <div class="d-flex justify-content-sm-start justify-content-lg-end flex-wrap">
                            <button type="button" class="card-btn" onclick="openValidationForm('{{doctype}}', '{{name}}')">
                                Validate
                            </button>
                            <button type="button" class="card-btn" onclick="openCollaborationForm('{{doctype}}', '{{name}}')">
                                Collaborate
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    frappe.ready(async () => {
        openValidationForm = (doctype, name) => {
            if (frappe.session.user === 'Guest') {
                frappe.throw('Please login to participate.');
            }
            frappe.call({
                method: 'contentready_oip.api.has_user_validated',
                args: {doctype: doctype, name: name},
                callback: (r) => {
                    if (r.message){
                        frappe.throw(`You have already validated this ${doctype}`);
                    } else {
                        $(`#validation-modal-${name}`).modal('toggle');
                    }
                }
            });
        }
        openCollaborationForm = (doctype, name) => {
            if (frappe.session.user === 'Guest') {
                frappe.throw('Please login to participate.');
            }
            frappe.call({
                method: 'contentready_oip.api.has_user_collaborated',
                args: {doctype: doctype, name: name},
                callback: (r) => {
                    if (r.message){
                        frappe.throw(`You have already collaborated on this ${doctype}`);
                    } else {
                        $(`#collaboration-modal-${name}`).modal('toggle');
                    }
                }
            });
        }
    })
</script>