<div class="col pt-20">
    <div
        id="descriptionText"
        class="description-rules"
    >
        <h3 class="heading">
            Description
        </h3>
        {% set long_text = description %}
        {% set short_text = short_description %}
        {% include "templates/includes/common/read_more.html" %}
    </div>
</div>

<hr />
<div class="col pt-3">
    <div class="row">
        {% set fields = {
            'Organization': org_title, 
            'Budget': budget, 
            'Impact': impact, 
            'Deployments': deployments, 
            'Innovation': innovation, 
            'Resources Needed': resources_needed,
            'Timeline': timeline,
            'Pilots': pilots,
            'Location(s)': city + ', ' + country,
            'Website': website
        } %}

        {% for field in fields %}
        {% set label =  field %}
        {% set value = fields[field] %}
        {% include "templates/includes/common/overview_field.html" %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <h3 class="heading">
                Sectors
            </h3>
            {% set doctype = doctype %}
            {% include "templates/includes/common/sector_labels.html" %}
        </div>
    </div>
</div>

<hr />

<div class="col pb-3" id="solutions-section">
    {% include "templates/includes/solution/problems_section.html" %}
</div>
