<style>
  .solution-container-small {
    cursor: pointer;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .small-created-by {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
  }
</style>

<div
  class="solution-container-small"
  onclick="window.location.href = '/{{solution.route}}'"
  data-name="{{solution.name}}"
  id="solution-card-{{solution.name}}"
>
  {% include "templates/includes/solution/solution_label.html" %}

  <div class="heading-container mt-3 text-capitalize ">
    <h2 class="heading">
      {{solution.title}}
    </h2>
  </div>

  <div class="small-created-by mt-3">
    {% set doc_owner = solution.owner %} {% set date = solution.creation %} {%
    include "templates/includes/common/small_user_thumbnail.html" %}
  </div>

    <hr>
</div>
