<div class="problem-container mt-3" onclick="window.location.href = '/{{solution.route}}'" data-name="{{solution.name}}"
  style="cursor: pointer; background-color: white;" id="solution-card-{{solution.name}}">
  <div class="left-side ">
    {% include "templates/includes/solution/solution_label.html" %}

    <div class="heading-container mt-3 text-capitalize ">
      <h2 class="heading">
        {{solution.title}}
      </h2>
      {% set city = solution.city %} {% set country = solution.country %} {%
      include "templates/includes/common/location_tag.html" %}
    </div>

    <div class="created-by mt-3">
      {% set doc_owner = solution.owner %} {% set date = solution.creation %} {%
      include "templates/includes/common/user_thumbnail.html" %}
    </div>

    {% set sectors = solution.sectors %} {% set doctype = solution.doctype %} {%
    include "templates/includes/common/sector_labels.html" %}

    <div class="interaction-container mt-3">
      {% set doctype = solution.doctype %} {% set name = solution.name %}
      <div class="likes-container">
        {% set likes = solution.likes %}
        {% set isClickable = false %}
        {% include "templates/includes/common/likes.html" %}
      </div>
      <div class="watchers-container">
        {% set watchers = solution.watchers %}
        {% set isClickable = false %}
        {% include
        "templates/includes/common/watchers.html" %}
      </div>
      <div class="validations-container">
        {% set validations = solution.validations %} {% include
        "templates/includes/common/validations.html" %}
      </div>
    </div>
  </div>

  <div class="right-side">
    {% set media = solution.media %} {% set id = 'card-'+solution.name %} {%
    include "templates/includes/common/card_featured_image.html" %}
  </div>
</div>