{% set validations = frappe.get_list('Validation', filters={'parent_doctype': doctype, 'parent_name': name}) %}
{% set collaborations = frappe.get_list('Collaboration', filters={'parent_doctype': doctype, 'parent_name': name}) %}
{% set likes = frappe.get_list('Like', filters={'parent_doctype': doctype, 'parent_name': name}) %} 
{% set watchers = frappe.get_list('Watch', filters={'parent_doctype': doctype, 'parent_name': name}) %} 

{% extends "templates/web.html" %} {% block page_content %} {% include
"templates/includes/solution/header.html" %}
<div class="container mt-20 mb-5">
  <div class="row">
    <div class="col-lg-7">
      {% include "templates/includes/solution/detail_section.html" %}
    </div>
    <div class="col-lg-5 margin-top-20">
      {% include "templates/includes/common/discussion_section.html" %}
    </div>
  </div>
</div>

<script>
  {% include "public/js/global.js" %}
</script>

{% endblock %}
