{% extends "templates/web.html" %} {% block page_content %}
<div class="">
    <div class="row">
        <div class="col">
            <h2 class="black-local">{{org_title or full_name}}</h2>
        </div>

        <div class="col text-right">
            <button class="btn btn-outline-primary outline-primary-btn" onclick="navigateToEditServiceProvider()">
                Edit Service Provider
            </button>
        </div>
    </div>
    <hr class="hr-border" />

    <div class="row">
        <div class="col-sm-12 col-md-6">
            {% if photo %}
            <div class="row">
                <div class="col">
                    <h3 class="black-local">Brandmark</h3>
                    <img src="{{photo}}" class="default-profile-photo" alt="" />
                </div>
            </div>
            {% endif %}

            <div class="row mt-5 mb-3">
                <div class="col">
                    <h3 class="black-local">Basic Information</h3>
                </div>
            </div>
            <div class="row">
                {% if phone %}
                <div class="col-6">
                    <p class="heading">Phone Number</p>
                    <h5>{{phone}}</h5>
                </div>
                {% endif %}
                <div class="col-6">
                    <p class="heading">Email ID</p>
                    <h5>{{name}}</h5>
                </div>
            </div>

            <div class="row">
                {% if website %}
                <div class="col-6">
                    <p class="heading">Website</p>
                    <h5><a href="{{website}}">{{website}}</a></h5>
                </div>
                {% endif %}
                {% if linkedin_profile %}
                    <div class="col-6">
                        <p class="heading">LinkedIn</p>
                        <h5><a href="{{linkedin_profile}}">{{linkedin_profile}}</a></h5>
                    </div>
                {% endif %}
            </div>

            <div class="row my-4">
                {% if city or state or country %}
                <div class="col-6">
                    <p class="heading">Location</p>
                    <h5>{{city or ''}}, {{state or ''}}, {{country or ''}}</h5>
                </div>
                {% endif %}
                <div class="col-6">

                </div>
            </div>

            <div class="row my-4">
                <div class="col">
                    <p class="heading">Category</p>
                    {% set service_category_title = frappe.db.get_value('Service Category', service_category, 'title') %}
                    <h5>{{service_category_title}}</h5>
                </div>
            </div>

        </div>
    </div>

    <style>
        .hr-border {
            border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
        }

        .default-profile-photo {
            height: 11.4rem;
            width: 11.4rem;
            object-fit: cover;
        }

        .heading {
            color: var(--secondary2);
            margin-bottom: 0px;
        }

        .heading>h5 {
            color: var(--secondary1);
        }

        .black-local {
            color: var(--secondary1);
        }

        .over_tag {
            padding: 0.5rem 0.7rem;
            font-size: 1.4rem;
            outline: none;
        }
    </style>

    <script>
        {% include "public/js/global.js" %}

        navigateToEditServiceProvider = () => {
            location.href = '/update-service-provider';
        };
    </script>

    {% endblock %}

    <!-- this is a sample default web page template -->