<div class="problem-container" style="cursor: pointer;">
    <div class="left-side ">
        <div class="problem">
            <span class="red-bullet"></span>
            <span>Problem</span>
        </div>

        <div class="heading-container mt-3 text-capitalize ">
            <a href="javascript:void(0);" class="text-dark">
                <h2 class="heading">
                    {{problem.title}}
                </h2>
            </a>
        </div>

        <div class="created-by mt-3">
            <div class="created-by-left-side">
                <img
                    src=""
                    alt="profile"
                    class="small-profile"
                />
            </div>
            <div class="created-by-right-side">
                <p>
                    Created by {{problem.owner}}
                </p>
                <p class="text-truncate">
                    {{frappe.format_date(problem.creation, "medium")}}
                    <span class="dot"></span>
                    Location
                </p>
            </div>
        </div>

        <div class="tags mt-3">
            
        </div>

        <div class="interaction-container mt-3">
            <div class="likes mr-5">
                <div class="like-icon">
                    <img
                        src="../../../assets/svg/like_icon.svg"
                        alt="Like Icon"
                    />
                </div>
                <div class="number-of-likes">
                    5 Likes
                </div>
            </div>

            <div class="views mr-5">
                <div class="views-icon">
                    <img
                        src="../../../assets/svg/watch_list_icon.svg"
                        alt="Watchlist icon"
                    />
                </div>
                <div class="number-of-views">
                    5 watchers
                </div>
            </div>

            <div class="followers">
                <div class="followers-icon">
                    <img
                        src="../../../assets/svg/expert_icon.svg"
                        alt="Experts Icon"
                    />
                </div>
                <div class="number-of-followers">
                    5 validations
                </div>
            </div>
        </div>
    </div>

    <div class="right-side">
        <div class="image-and-count-container d-none d-lg-block">
            <img
                src="{{problem.featured_image}}"
                alt="image"
                class="image"
            />

            <div class="total-count">
                +1 Image
            </div>
        </div>
        <div class="image-and-count-container d-lg-none">
            <img
                src=""
                alt="image"
                class="image-ipad"
            />

            <div class="total-count">
                +1 Image
            </div>
        </div>
    </div>
</div>
