.page-card-body > div > a {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: white;
}

.page-card-body {
    white-space: normal;
}

.page_content > p {
    font-size: unset;
    font-weight: unset;
}

.msgprint {
    font-size: 1.4rem;
}

.close[data-dismiss="modal"] {
  /* Attribute has this exact value */
  font-size: 2rem;
}

.hidden {
    display: none;
}

.btn-login {
    padding: 0.5rem 1rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: white;
}

.toggle-password {
    top: 1.2rem !important;
}

a {
    color: unset;
}

/* -------- placeholder effect ------- */
  @keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.linear-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    position: relative;
    overflow: hidden;
}
/* -------- placeholder effect ------- */
