<!-- jinja -->
<!-- no-breadcrumbs -->
<!-- static -->

<div class="mt-20 mb-5">
  {% if show_default_view %}
  <div class="row">
    <div class="col-lg-6">
      <div class="bg-white">
        <ul class="nav nav-tabs nav-section nav-mob-section" id="leftTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="recommended-content-tab" data-toggle="tab" href="#recommended-content"
              role="tab" aria-controls="recommended-content" aria-selected="true">
              Areas That May Interest You ({{ (recommended_problems + recommended_solutions) | length
              }})
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="user-content-tab" data-toggle="tab" href="#user-content" role="tab"
              aria-controls="user-content" aria-selected="true">
              Areas Added By You ({{ (user_problems + user_solutions) | length
              }})
            </a>
          </li>
        </ul>
        <div id="leftTabGroup" class="pb-2">
          <div class="tab-content" id="leftTabContent">
            <div class="tab-pane fade show active" id="recommended-content" role="tabpanel"
              aria-labelledby="recommended-content-tab">
              {% if (recommended_problems + recommended_solutions) | length < 1 %}
              <div class="w-100">
                {% set msg = "No recommendations yet" %}
                {% set img_src = "" %}
                {% include "templates/includes/common/empty_card.html" %}
              </div>
              {% endif %}

              {% if recommended_problems or recommended_solutions %}
              {% for problem in recommended_problems %}
              <div>
                {% include "templates/includes/problem/problem_card.html" %}
              </div>
              <hr />
              {% endfor %}
              {% for solution in recommended_solutions %}
              <div>
                {% include "templates/includes/solution/solution_card.html" %}
              </div>
              <hr />
              {% endfor %}
              {% else %}
              <br />
              <h6 style="padding-left: 2rem;">
                Please <a href="/update-profile">update your profile</a> to
                receive recommendations.
              </h6>
              {% endif %}

              {% if(recommended_problems + recommended_solutions) | length > 4 %}
              <div class="text-center py-3">
                <a href="/dashboard?type=recommended_areas" class="viewAll">View All
                  ({{ (recommended_problems + recommended_solutions) | length }})</a>
              </div>
              {% endif %}
            </div>
            <div class="tab-pane fade" id="user-content" role="tabpanel" aria-labelledby="user-content-tab">
              {% if (user_problems + user_solutions) | length < 1 %}
              <div class="w-100">
                {% set msg = "No area added yet" %}
                {% set img_src = "" %}
                {% include "templates/includes/common/empty_card.html" %}
              </div>
              {% endif %}

              {% for problem in user_problems %}
              <div class="">
                {% include "templates/includes/problem/problem_card.html" %}
              </div>
              <hr />
              {% endfor %} {% for solution in user_solutions %}
              <div class="">
                {% include "templates/includes/solution/solution_card.html" %}
              </div>
              <hr class="m-0" />
              {% endfor %}

              {%  if (user_problems + user_solutions) | length > 4 %}
              <div class="text-center py-3">
                <a href="/dashboard?type=user_areas" class="viewAll">View All
                  ({{ (user_problems + user_solutions) | length }})</a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 margin-top-20">
      <div class="bg-white">
        <ul class="nav nav-tabs nav-section nav-mob-section" id="rightTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="watched-content-tab" data-toggle="tab" href="#watched-content" role="tab"
              aria-controls="watched-content" aria-selected="true">Your Watch List ({{ (watched_problems + watched_solutions) |
              length }})</a>
          </li>
        </ul>
        <div id="rightTabGroup" class="pb-2">
          <div class="tab-content" id="leftTabContent">
            <div class="tab-pane fade show active" id="watched-content" role="tabpanel"
              aria-labelledby="watched-content-tab">

              {% if (watched_problems + watched_solutions) | length < 1 %}
              <div>
                {% set msg = "No watchlist yet" %}
                {% set img_src = "" %}
                {% include "templates/includes/common/empty_card.html" %}
              </div>
              {% endif %}

              {% for problem in watched_problems %}
              <div>
                {% include "templates/includes/problem/problem_card.html" %}
              </div>
              <hr />
              {% endfor %}
              {% for solution in watched_solutions %}
              <div>
                {% include "templates/includes/solution/solution_card.html" %}
              </div>
              <hr>
              {% endfor %}

              {% if (watched_problems + watched_solutions) | length > 2 %}
              <div class="text-center py-3">
                <a href="/dashboard?type=watch_list" class="viewAll">View All
                  ({{ (watched_problems + watched_solutions) | length }})</a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="bg-white">
        <ul class="nav nav-tabs nav-section nav-mob-section" id="rightTab1" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="contributions-tab" data-toggle="tab" href="#contributions" role="tab"
              aria-controls="contributions" aria-selected="false">Your Contributions ({{ (contributed_problems +
              contributed_solutions) | length }})</a>
          </li>
        </ul>
        <div id="rightTabGroup1" class="pb-4" style="border-radius: var(--round4);">
          <div class="tab-content" id="rightTabContent1">
            <div class="row p-0 m-0" id="users" role="tabpanel" aria-labelledby="users-tab">
              <div class="col m-0 p-0">

                {% if (contributed_problems + contributed_solutions) | length < 1 %}
                <div>
                  {% set msg = "No contributions yet" %}
                  {% set img_src = "" %}
                  {% include "templates/includes/common/empty_card.html" %}
                </div>
                {% endif %}

                {% for problem in contributed_problems %}
                <div>
                  {% include
                  "templates/includes/problem/problem_contribution_card.html" %}
                </div>
                <hr />
                {% endfor %}
                {% for solution in contributed_solutions %}
                <div>
                  {% include
                  "templates/includes/solution/solution_contribution_card.html"
                  %}
                </div>
                <hr>
                {% endfor %}

                {% if (contributed_problems + contributed_solutions) | length > 2 %}
                <div class="text-center py-2">
                  <a href="/dashboard?type=contributions" class="viewAll">View All
                    ({{ (contributed_problems + contributed_solutions) | length }})</a>
                </div>
                {% endif %}
              </div>

            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="bg-white">
        <ul class="nav nav-tabs nav-section nav-mob-section" id="rightTab1" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users"
              aria-selected="false">Users With Similar Interests ({{ users | length }})</a>
          </li>
        </ul>
        <div id="rightTabGroup1" class="pb-4" style="border-radius: var(--round4);">
          <div class="tab-content" id="rightTabContent1">
            <div class="row p-0 m-0" id="users" role="tabpanel" aria-labelledby="users-tab">
              {% if users | length < 1 %}
              <div class="w-100">
                {% set msg = "No user matched" %}
                {% set img_src = "" %}
                {% include "templates/includes/common/empty_card.html" %}
              </div>
              {% endif %}

              {% for user in users %}
              <div class="col-md-6 py-4 border">
                {% include "templates/includes/common/user_card.html" %}
              </div>
              {% endfor %}

              {% if users | length > 2 %}
              <div class="text-center py-3">
                <a href="/dashboard?type=recommended_users" class="viewAll">View All
                  ({{ users | length }})</a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col">
      <div class="col-sm-12 problem-listed-container">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <img src="/files/problem_icon.svg" alt="" height="24" width="20" />
            <h3>
              {{content_title}}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="problems-container">
    {% if content_type == 'recommended_users' %}
    {% for user in recommended_users %}
    <div class="col-md-3 mt-4 py-4 border">
      {% include "templates/includes/common/user_card.html" %}
    </div>
    {% endfor %}
    {% else %}
    <div class="col-md-6 mt-4">
      {% for problem in problems %}
      {% include "templates/includes/problem/problem_card.html" %}
      {% endfor %}
    </div>
    <div class="col-md-6 mt-4">
      {% for solution in solutions %}
      {% include "templates/includes/solution/solution_card.html" %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
  {% endif %}
</div>

<style>
  .viewAll {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.6rem;
    color: var(--primary5);
  }

  .viewAll:hover {
    color: var(--primary5);
  }
</style>