<!-- jinja -->
<!-- no-breadcrumbs -->
<div class="container my-5 p-0">
    <form action="">
        <div class="input-group input-section">
            <div class="input-group-prepend style1">
                <span class="input-group-text">
                    <img src="/files/Search.svg" alt="" style="opacity: .3;" />
                </span>
            </div>
            <input type="search" class="form-control form-control-lg style1"
                aria-label="Search the Open Innovation Platform"
                placeholder="Search for problems, solutions and contributors" name='key' value='{{key}}' id="search-input">
            <div class="input-group-append style1">
                <button type="button" data-enabled=1 class="btn active-btn" onclick="triggerSearch()" id="search-btn"><img
                        src="/files/Search.svg" class="" width="20" height="20"></button>
                <!-- <button type="button" data-enabled=1 class="btn active-btn rounded-right" onclick="toggleSolutions()" id="solution-selector">Solutions</button> -->
                <!-- <select class="search-mode" id="">
                    <option selected value="all">All</option>
                    <option value="problem">Problem</option>
                    <option value="solution">Solution</option>
                    <option value="profile">Profile</option>
                </select> -->
            </div>
        </div>
    </form>
</div>

<div class="container">
    {% include "templates/includes/common/filter.html" %}
</div>

{% if (matched_problems + matched_solutions + matched_contributors) | length == 0 %}
<div class="container no-result">
    <section class="row zeroResult-section">
        <div>
            <img src="/files/Empty State Search Icon.svg" alt="" />
        </div>
        <h5>It seems there are no search results as of now.</h5>
    </section>
</div>
{% else %}
<div class="container mt-5" id="search-results-container">
    <div class="row">
        <div class="col-lg-6" id="problem-results-container">
            <div class="col p-0">
                <div class="problem-listed-title text-white">
                    <div class="d-flex align-items-center header">
                        <img src="/files/problem_icon.svg" alt="" height="20px" width="24px" />
                        <h2 class="heading">Problems Matched</h2>
                        <div class="view-all">
                            <a href="/problems">
                                View All
                            </a>
                        </div>
                    </div>
                </div>
                <div id="matching-problems">
                    {% for problem in matched_problems %}
                    {% include "templates/includes/problem/problem_card.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-6 margin-sm-md-30" id="solution-results-container">
            <div class="col p-0">
                <div class="problem-listed-title text-white">
                    <div class="d-flex align-items-center header">
                        <img src="/files/problem_icon.svg" alt="" height="20px" width="24px" />
                        <h2 class="heading">Solutions Matched</h2>
                        <div class="view-all">
                            <a href="/solutions">
                                View All
                            </a>
                        </div>
                    </div>
                </div>
                <div id="matching-solutions">
                    {% for solution in matched_solutions %}
                    {% include "templates/includes/solution/solution_card.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="contributor-results-container">
            <div class="col p-0">
                <div class="problem-listed-title text-white py-4">
                    <div class="d-flex align-items-center header">
                        <img src="/files/problem_icon.svg" alt="" height="20px" width="24px" />
                        <h2 class="heading">Contributors</h2>
                        <div class="view-all">
                            <a href="/contributors">
                                View All
                            </a>
                        </div>
                    </div>
                </div>
                <div id="matching-contributors" class="row">
                    {% for user in matched_contributors %}
                    <div class="col-md-3">
                        {% include "templates/includes/common/user_card.html" %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}


<script>
    frappe.ready(async () => {
        // Simple sleep(ms) function from https://stackoverflow.com/a/48882182
        const sleep = m => new Promise(r => setTimeout(r, m));

        // Look for similar problems and solutions when text is entered
        // $('#search-input').val('');
        triggerSearch = () => {
            const key = $('#search-input').val().trim();
            if (key) {
                const search_query = {key: key};
                const existing_query = frappe.utils.get_query_params();
                const combined_query = {...existing_query, ...search_query };
                let qp = frappe.utils.make_query_string(combined_query);
                if (qp) {
                    const clean_url = window.location.href.split('?')[0]; 
                    window.location.href = clean_url+qp;
                }
            }
        }
    })
</script>

<style>
    .style1 {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -0.1px;
        line-height: 26px;
    }

    .zeroResult-section {
        justify-content: center;
        flex-direction: column;
        min-height: 75vh;
        text-align: center;
    }

    .zeroResult-section>h5 {
        margin-top: 2.7rem;
        font-weight: 500;
        color: var(--secondary1);
    }

    input[type='search'] {
        height: inherit;
        border: none;
    }

    input[type='search']::placeholder {
        color: var(--secondary3);
        text-overflow: ellipsis;
    }

    .input-section {
        justify-content: center;
        min-height: 5.6rem;
        border-radius: var(--round4);
    }

    .input-group-prepend>.input-group-text {
        padding: 2rem 1rem 2rem 2rem;
        background-color: var(--secondary6);
        border-radius: 0.4rem 0 0 0.4rem;
        border: none;
    }

    .active-btn {
        background-color: var(--primary2);
        color: var(--secondary6);
        font-size: 1.2rem;
    }

    .search-mode {
        background-color: var(--secondary6);
        color: var(--primary2);
        width: 10rem;
        font-size: var(--f14);
        border: none;
    }

    /* .active-btn:hover{
        color: var(--secondary6);
    }

    .not-active-btn {
        background-color: var(--secondary6);
        color: var(--primary2);
        font-size: 1.2rem !important;
        border: none;
    }

    .not-active-btn:hover{
        background-color: var(--secondary6);
        color: var(--primary2);
    } */

    @media only screen and (max-width: 600px) {
        .input-section {
            min-height: 3.6rem;
        }

        .input-group-prepend>.input-group-text {
            padding: 1rem 0rem 1rem 1rem;
        }
    }
</style>

<script>
    {% include "public/js/global.js" %}
</script>