.page-breadcrumbs {
  display: none;
}

.hide-control {
  display: none;
}

.form-layout {
  background-color: white;
  padding: 2rem;
}

.ql-container {
  background-color: white;
}

.web-form-actions {
  display: none;
}

.form-group label {
  font-weight: bolder;
}

.control-label {
  font-weight: bolder;
}

.web-form-footer {
  display: none;
}

.hidden {
  display: none;
}

.enrichment-details-page-subheadings {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.form-section-heading hr {
  margin: 1rem -2.1rem 2rem -2.1rem !important;
}

.field-styles {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 2rem;
}

.label-styles {
  font-size: 1.4rem !important;
  font-weight: 500 !important;
}
