.page-breadcrumbs{
    display: none;
}

.hide-control{
    display: none;
}

.form-layout {
    background-color: white;
    padding: 2rem;
}

.ql-container {
    background-color: white;
}

.web-form-actions{
    display: none;
}

.form-group label {
    font-size: 1.2rem;
    font-weight: bolder;
}

.form-control {
    font-size: 1.2rem;
}

.control-label {
    font-weight: bolder;
}

.web-form-footer {
    display: none;
}