<!-- jinja -->
<!-- no-breadcrumbs -->
<!-- static -->
<div class="poster jumbo">
  <div class="container">
    <div class="banner-text">
      <h1 class="text-white" id="slideshow-heading"></h1>
      <p class="left-bar text-white" id="slideshow-description">
      </p>
      <video autoplay muted src="" onloadedmetadata="onVideoLoaded()" onended="onVideoEnded()" id="videoBackground"></video>
    </div>
  </div>
</div>

{% include "templates/includes/common/homepage_stats.html" %} {% include
"templates/includes/common/homepage_showcase_content.html" %} {% include
"templates/includes/common/subscribe.html" %} {% include
"templates/includes/common/partners.html" %}

<div class="d-none">{% include "templates/includes/common/filter.html" %}</div>

<script>
  let delay = 1000 * Number(`{{slideshow_delay}}`);
  let videoCompleted = false;
  function onVideoLoaded() {
    const duration = $('#videoBackground')[0].duration;
    console.log("duration", duration);
    videoCompleted = false;
  }
  function onVideoEnded() {
    videoCompleted = true;
    console.log("Video completed");
  }
  frappe.ready(function () {
    function isImage(url) {
      return (url.match(/\.(jpeg|jpg|gif|png)$/) != null);
    }

    function isVideo(url) {
      return (url.match(/\.(avi|mp4|mpg|mpeg)$/) != null);
    }

    function loopThroughSlideshow(slideshow) {
      let index = 0;
      function delayedOutput() {
        const row = slideshow[index];
        if (index < slideshow.length - 1) {
          index++;
        } else {
          index = 0;
        }
        $("#slideshow-heading").text(row.heading);
        $("#slideshow-description").text(row.description);
        const url = row.image;
        if (isImage(url)) {
          $("#videoBackground").attr("src", null);
          $("#videoBackground").hide();
          $('.poster').css("background-image", `url(${url})`).css('background-size', 'cover');
          setTimeout(delayedOutput, delay);
        } else if (isVideo(url)) {
          $('.poster').css("background-image", "");
          $("#videoBackground").show();
          $("#videoBackground").attr("src", url);
          const intervalTimer = setInterval(() => {
            if (videoCompleted) {
              clearInterval(intervalTimer);
              delayedOutput();
            }
          }, 1000);
        }
      }
      delayedOutput();
    }
    console.log(`{{slideshow}}`);
    const slideshow = JSON.parse(`{{slideshow}}`);
    loopThroughSlideshow(slideshow);
  });
</script>

<style>
  #videoBackground {
    z-index: -100;
    position: absolute; 
    overflow: hidden;
    background-size: cover;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    object-fit: cover;
  }
</style>