{% raw %}
<div class="container">
  <h3>Open Innovation Platform</h3>
  <form class="needs-validation" v-on:submit.prevent="login" id="login-form" novalidate>
    <div class="form-row align-items-center mb-3">
        <div class="input-group mb-2">
          <input type="email" class="form-control" name="usr" placeholder="Your email address" id="email" v-model="email"
            required>
          <div class="invalid-feedback">
            Please provide your email address.
          </div>
        </div>
    </div>
    <div class="form-row align-items-center mb-3">
      <div class="input-group mb-2">
        <input type="password" class="form-control" name="pwd" placeholder="Password" id="password" v-model="password"
          required>
        <div class="invalid-feedback">
          Please enter a password.
        </div>
      </div>
  </div>
    <button class="btn btn-primary" type="submit" :disabled="!validateForm()">Login</button>
  </form>
</div>
{% endraw %}


<script type="text/javascript" src="/assets/frappe/node_modules/vue/dist/vue.js"></script>