<div
    class="col-sm-12 collaborateCard" id="collaboration-card-{{collaboration.name}}"
>
    <div class="float-right">
        {% if frappe.session.user == collaboration.user %}
            {% set doctype = collaboration.doctype %}
            {% set name = collaboration.name %}
            {% set data = [collaboration.personas, collaboration.comment] %}
            {% include "templates/includes/common/edit_icon.html" %}
            {% include "templates/includes/common/collaboration_form.html" %}
        {% endif %}
    </div>
    <div>
        <strong class="text-capitalize roles">
            {% set personas = collaboration.personas %} 
    {% include "templates/includes/common/persona_labels.html" %}
        </strong>
    </div>
    <div class="collaborate-comment">
        {{ collaboration.comment }}
    </div>

    <div class="d-flex align-items-center validate-profile">
        {% set doc_owner = collaboration.user %}
        {% set date = collaboration.modified %}
        {% include "templates/includes/common/user_thumbnail.html" %}
    </div>
</div>