<!-- prettier-ignore -->
<div
class="col-sm-12 collaborateCard" id="collaboration-card-{{collaboration.name}}"
>
    <div class="float-right">
        {% if frappe.session.user == collaboration.owner %}
            {% set existing_persona = [] %}
            {% if collaboration.personas %}
                {% for p in collaboration.personas %}
                    {% set existing_persona = existing_persona.append(p.persona) %}
                {% endfor%}
            {% endif %}
            
            {% set doctype = collaboration.doctype %}
            {% set name = collaboration.name %}
            {% set data = [existing_persona | join(','), collaboration.comment] %}
            {% include "templates/includes/common/edit_icon.html" %}
            {% include "templates/includes/common/collaboration_form.html" %}
        {% endif %}
    </div>
    {% if collaboration.personas %}
    <div>
        <strong class="text-capitalize roles">
            {% set personas = collaboration.personas %} 
            {% include "templates/includes/common/persona_labels.html" %}
        </strong>
    </div>
    {% endif %}
    <div class="collaborate-comment">
        {{ collaboration.comment }}
    </div>

    <div class="d-flex align-items-center validate-profile">
        {% set doc_owner = collaboration.owner %}
        {% set date = collaboration.modified %}
        {% include "templates/includes/common/user_thumbnail.html" %}
    </div>
    {% if frappe.session.user == owner and collaboration.status == 'New' %}
    <div class="stats-section" style="margin-top: 2rem;">
        <button 
          class="btn btn-lg btn-primary btnHover text-white actions"
          role="button"
          onclick="change_collaboration_status('{{collaboration.name}}', 'Accept')"
        >
          Accept
        </button>
        <button 
          class="btn btn-lg btn-outline-primary actions"
          role="button"
          onclick="change_collaboration_status('{{collaboration.name}}', 'Ignore')"
        >
          Ignore
        </button>
    </div>
    {% endif %}
</div>


<script>
    const change_collaboration_status = (docname, status) => {
        console.log(docname, status);
      frappe.call({
        method: "contentready_oip.api.change_collaboration_status",
        args: { docname, status },
        callback: function ( r ) {
          if (r.message) {
            frappe.show_alert('Updated');
            window.location.reload();
          }
        }
        });
    }
  </script>