<div class="modal" tabindex="-1" role="dialog" id="collaboration-modal-{{name}}">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content p-4">
            <div class="modal-header collaboration-header">
                <h3 class="modal-title">Fill in the details to collaborate</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="collaboration-comment" class="modal-label">Please state your intent <span
                                    class="text-primary">*</span></label>
                            <textarea type="text" class="form-control collaboration-comment-area"
                                id="collaboration-comment-{{name}}" rows="3" placeholder="Enter comment"
                                required></textarea>
                        </div>
                        <label for="personaSelect" class="modal-label">Persona</label>
                        <select class="form-control" id="persona-select-{{name}}" required>
                            <option value="">Please Select a Persona</option>
                            {% for persona in personas %}
                            <option value="{{persona.value}}">{{persona.label}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer collaboration-footer justify-content-start">
                {% if doctype == 'Collaboration Table' %}
                <!-- Edit mode -->
                <button type="button" class="modal-btn btn-outline-danger"
                    onclick="deleteCollaboration('{{doctype}}', '{{name}}')">Delete</button>
                {% endif %}
                <button type="button" class="modal-btn btn-outline-primary collaboration-add-btn"
                    onclick="submitCollaboration('{{doctype}}', '{{name}}')">Add</button>
                <button class="modal-btn btn-link text-dark" style="border: none; font-size: 1.4rem;"
                    data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    frappe.ready(() => {
        createPersonaOptions = () => {
            frappe.call({
                method: 'contentready_oip.api.get_persona_list',
                args: {},
                callback: function (r) {
                    r.message.map(op => {
                        $('#persona-select-{{name}}').append(`<option value="${op.value}"> 
                                       ${op.label} 
                                  </option>`);
                    })
                }
            });
        }
        createPersonaOptions();
    })

    deleteCollaboration = (doctype, name) => {
        frappe.call({
            method: 'contentready_oip.api.delete_contribution',
            args: { child_doctype: doctype, name: name },
            callback: (r) => {
                if (r.message) {
                    window.location.reload();
                }
            }
        });
    }

    submitCollaboration = (doctype, name) => {
        const collaboration = {
            user: frappe.session.user,
            persona: $('#persona-select-' + name).val(),
            comment: $('#collaboration-comment-' + name).val()
        }
        if (!collaboration.comment) {
            frappe.throw('Please state your intent.');
        }
        if (!collaboration.persona) {
            frappe.throw('Please select a persona.');
        }
        frappe.call({
            method: 'contentready_oip.api.add_or_edit_collaboration',
            args: {
                doctype: doctype,
                name: name,
                collaboration: collaboration
            },
            callback: (r) => {
                if (r.message[1] > 0) {
                    // console.log(r.message);
                    if (doctype == 'Collaboration Table') {
                        // edit mode
                        $('#collaboration-card-' + name).replaceWith(r.message[0]);
                        // TODO: Toggles twice for some reason leaving an empty form on the screen.
                        // TEMP Fix: Reload.
                        window.location.reload();
                    } else {
                        $('#collaborations').prepend(r.message[0]);
                        $('#collaboration-count').text(r.message[1]);
                        $('#collaboration-modal-' + name).modal('toggle');
                    }
                }
            }
        });
    }
</script>

<style>
    .modal-btn {
        height: 4rem;
        box-sizing: border-box;
        border: 0.2rem solid;
        border-radius: 0.4rem;
        background-color: #ffffff;
        /* color: #d98b26; */
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: -0.01rem;
        line-height: 1.4rem;
        align-items: center;
        text-transform: capitalize;
        padding: 0 1.5rem;
    }

    .collaboration-comment-area {
        color: var(--secondary1);
        font-size: var(--f14);
        letter-spacing: var(--space);
        line-height: 2.2rem;
    }

    .modal-label,
    .dz-message {
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--secondary1);
    }

    .collaboration-header {
        border-bottom: unset;
    }

    .collaboration-footer {
        border-top: unset;
    }

    .collaboration-add-btn:hover {
        color: white;
    }
</style>