<div class="modal" tabindex="-1" role="dialog" id="collaboration-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Contribute to solving this problem.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="was-validated">
                    <div class="form-group">
                        <label for="personaSelect">Role</label>
                        <select class="form-control" id="persona-select" required>
                            <option value="">Please Select a Role</option>
                        </select>
                        <div class="invalid-feedback">Please select a valid role.</div>
                    </div>
                    <div class="form-group">
                        <label for="collaboration-comment">How can you help?</label>
                        <textarea type="text" class="form-control is-invalid" id="collaboration-comment" rows="3"
                            placeholder="Enter comment" required></textarea>
                            <div class="invalid-feedback">
                                Please explain how you can contribute.
                              </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="card-btn"
                    onclick="submitCollaboration('{{doctype}}', '{{name}}')">Submit</button>
            </div>
        </div>
    </div>
</div>

<script>
    frappe.ready(() => {
        createPersonaOptions = () => {
            frappe.call({
                method: 'contentready_oip.api.get_persona_list',
                args: {},
                callback: function (r) {
                    r.message.map(op => {
                        $('#persona-select').append(`<option value="${op.value}"> 
                                       ${op.label} 
                                  </option>`);
                    })
                }
            });
        }
        createPersonaOptions();
    })
    submitCollaboration = (doctype, name) => {
        const collaboration = {
            user: frappe.session.user,
            persona: $('#persona-select').val(),
            comment: $('#collaboration-comment').val()
        }
        if (!collaboration.persona){
            frappe.throw('Please select a role.');
        }
        if (!collaboration.comment){
            frappe.throw('Please explain how you can contribute.');
        }
        frappe.call({
            method: 'contentready_oip.api.add_collaboration',
            args: {
                doctype: doctype,
                name: name,
                collaboration: collaboration
            },
            callback: (r) => {
                // console.log(r)
                if (r.message[1] > 0) {
                    $('#collaborations').prepend(r.message[0]);
                    $('#collaboration-modal').modal('toggle');
                    $('#collaboration-count').text(r.message[1]);
                }
            }
        });
    }
</script>