<div class="shadow editor-container">
    <div class="commentSection">
        <div class="created-by mt-5">
            {% set doc_owner = frappe.session.user %}
            {% include "templates/includes/common/user_thumbnail.html" %}
        </div>
        <div class="input-group">
            <!-- TODO: onblur="contractCommentArea(event.target.id)" -->
            <div class="input-group-prepend">
                <button class="btn btn-outline-danger" type="button" onclick="cancelComment(`{{doctype}}`,`{{name}}`, `{{parent_div|default('', true)}}`)"><i class="far fa-backspace fa-flip-horizontal"></i></button>
                
            </div> 
            <textarea class="form-control" id="comment-area-{{doctype}}-{{name}}" placeholder="Add a comment..."
                rows="1" onfocus="expandCommentArea('{{doctype}}','{{name}}')"></textarea>
            
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="showDropzone('{{doctype}}', '{{name}}')"><i class="far fa-paperclip"></i></button>
                <button class="btn btn-outline-primary" type="button" onclick="submitComment('{{doctype}}', '{{name}}')"><i class="far fa-envelope"></i></button>
            </div>
        </div>
        <form class="dropzone dz-clickable hidden" data-file-urls='[]' id='comment-dropzone-{{doctype}}-{{name}}'>
            <div class="dz-default dz-message"><button class="dz-button" type="button">Drop files here to upload</button></div>
        </form>
    </div>
</div>
<script>
    expandCommentArea = (doctype, name) => {
        // set rows=5
        $(`#comment-area-${doctype}-${name}`).attr('rows', '3');
    }

    contractCommentArea = (doctype, name) => {
        // set rows=1
        $(`#comment-area-${doctype}-${name}`).attr('rows', '1');
    }

    cancelComment = (doctype, name, parent_div) => {
        $(`#comment-dropzone-${doctype}-${name}`).addClass('hidden');
        $(`#comment-area-${doctype}-${name}`).val('');
        contractCommentArea(doctype, name);
        if (parent_div) {
            $(parent_div).addClass('hidden');
        }
    }

    submitComment = (doctype, name) => {
        const id = `comment-area-${doctype}-${name}`; // for compatibility with cancelComment
        const text = $(`#${id}`).val();
        const media = $(`#comment-dropzone-${doctype}-${name}`).data('file-urls');
        if (text.length) {
            // console.log(comment);
            frappe.call({
                method: 'contentready_oip.api.add_comment',
                args: {doctype: doctype, name: name, text: text, media: media},
                callback: (r) => {
                    // console.log(r);
                    if (doctype == 'Discussion') {
                        cancelComment(doctype, name);
                        window.location.reload();
                    } else if (r.message){
                        if ($('#comments-list').length) {
                            $('#comments-list').prepend(r.message);
                            cancelComment(doctype, name);
                        } else {
                            cancelComment(doctype, name);
                            window.location.reload();
                        }
                    }
                }
            });
        } else {
            frappe.throw('Cannot submit an empty comment.');
        }
    }

    showDropzone = (doctype, name) => {
        // set rows=5
        $(`#comment-dropzone-${doctype}-${name}`).removeClass('hidden');
    }

    frappe.ready(() => {
        // Start dropzone.js integration
        // const scriptPath = "public/js/dropzone.js";
        const dScriptUrl = '/files/dropzone.js';
        $.getScript(dScriptUrl, () => {
            // disable autoDiscover as we are manually binding the dropzone to a form element
            Dropzone.autoDiscover = false;
            $('#comment-dropzone-{{doctype}}-{{name}}').dropzone({
                url: "/api/method/upload_file",
                autoDiscover: false,
                // maxFiles: 1,
                addRemoveLinks: true,
                acceptedFiles: 'image/*',
                headers: {
                    'Accept': 'application/json',
                    'X-Frappe-CSRF-Token': frappe.csrf_token
                },
                init: function() {
                    // use this event to add to child table
                    this.on("complete", (file) => {
                        // console.log('{{name}}');
                        const response = JSON.parse(file.xhr.response);
                        const file_url = response.message.file_url;
                        const media = $('#comment-dropzone-{{doctype}}-{{name}}').data('file-urls');
                        media.push(file_url);
                        $('#comment-dropzone-{{doctype}}-{{name}}').data('file-urls', JSON.stringify(media));
                    });
                    // use this event to remove from child table
                    this.on('removedfile', (file) => {
                        // console.log('removed', file);
                        let media = $('#comment-dropzone-{{doctype}}-{{name}}').data('file-urls');
                        media = media.filter(i => !i.endsWith(file.name));
                        $('#comment-dropzone-{{doctype}}-{{name}}').data('file-urls', JSON.stringify(media));
                    });
                }
            });
        });
        // End dropzone.js integration
    })
</script>

<style>
    .hidden{
        display: none;
    }
</style>