
{% set doctype = comment.doctype %} {% set name = comment.name %}
<div class="discussion-section">
  <div class="comment-section">
    <div class="">
      {% set doc = frappe.get_doc('User Profile', comment.owner) %}
      <img
        src="{{doc.photo|default('/files/default-avatar.jpg', true)}}"
        alt="profile photo"
        class=""
        style="object-fit: cover; overflow: hidden; border-radius: 50%;"
        width="40"
        height="40"
      />
    </div>
    <div class="details-container">
      <div>
        <span>
          {{ doc.full_name }}
        </span>
        <br />
        <span class="comment-date">
          {{frappe.utils.pretty_date(comment.creation)}}
        </span>
      </div>
      <div style="text-transform: none; font-weight: normal;">
        {{comment.text}}
      </div>
      {% if (comment.media | length) > 0 %}
      <h6>Attachments</h6>
      {% for a in comment.media %} {% set file_name =
      a.attachment.split('/')[-1] %}
      <a href="{{a.attachment}}" target="_blank">{{ file_name }}</a>
      {% endfor %} {% endif %}
    </div>
  </div>

  {% for reply in comment.replies %}
  <div class="reply-section">
    <div class="">
      {% set doc = frappe.get_doc('User Profile', comment.owner) %}
      <img
        src="{{doc.photo|default('/files/default-avatar.jpg', true)}}"
        alt="profile photo"
        class=""
        style="object-fit: cover; overflow: hidden; border-radius: 50%;"
        width="40"
        height="40"
      />
    </div>
    <div class="reply-text-section">
      <div class="user-info">
        <span class="text-capitalize replier-name">
          {{ doc.full_name }}
        </span>
        <span class="dot"></span>
        <span class="reply-date">
          {{frappe.utils.pretty_date(reply.creation)}}
        </span>
      </div>
      <div style="text-transform: none; font-weight: normal;">{{reply.text}}</div>
      {% set parsed_reply = reply.as_json() %}
      <button
        class="delete-btn btn p-0"
        data-action="delete"
        data-name="{{reply.name }}"
        data-discussion="{{reply.discussion }}"
      >
        <i class="trash badge">{% include "public/svg/trash-alt.svg" %}</i>
      </button>
    </div>
  </div>
  {% endfor %}

  <div class="footer-container">
    <div class="rely-container">
      <button class="btn" onclick="replyToComment('{{comment.name}}')">
        <!-- <i class="far fa-reply"></i> -->
        <i class="reply mr-2">{% include "public/svg/reply.svg" %}</i>
        Reply
      </button>
    </div>

    <div class="d-flex">
      {% set doctype = comment.doctype %} {% set name = comment.name %} 
      {% set likes = frappe.get_list('Like', filters={'parent_doctype': doctype, 'parent_name': name}) %} 
      {% include "templates/includes/common/likes.html"
      %} {% include "templates/includes/common/share.html" %}
    </div>
  </div>

  <div id="reply-{{comment.name}}" class="hidden">
    {% set doctype = comment.doctype %} {% set name = comment.name %} {% set
    parent_div = '#reply-' + comment.name %} {% include
    "templates/includes/common/comment_editor.html" %}
  </div>
</div>

<script>
  replyToComment = (name) => {
    $(`#reply-${name}`).toggleClass('hidden');
    $('div.comment-user .created-by-section').attr('hidden', true);
  };

  deleteReply = (reply) => {
    $('.modal[role=dialog]').modal('hide');
    if (Object.keys(reply).length) {
      frappe.call({
        method: 'contentready_oip.api.delete_reply',
        args: { reply },
        callback: function (r) {
          console.log(r);
          window.location.reload();
        },
      });
    }
  };

  frappe.ready(() => {
    $('[data-action="delete"]').click(function (e) {
      e.preventDefault();
      e.stopImmediatePropagation();
      const name = $(this).data('name');
      const discussion = $(this).data('discussion');
      
      let warn_modal = frappe.msgprint({
        title: __('Delete'),
        message: __('Are you sure you want to proceed?'),
        primary_action: {
          label: 'Delete',
          client_action: 'deleteReply',
          args: {name,discussion},
        },
      });

      $(warn_modal['$wrapper'])
        .find('.btn.btn-sm.btn-primary')
        .removeClass('btn-sm')
        .addClass('btn-danger btn-lg');
    });
  });
</script>

<script>
  frappe.ready(() => {
    $('div.likes button').addClass('thumbsup-btn');
    $('div.social-btns button.btn-circle').addClass(
      'social-icon-btn thumbsup-btn mr-4'
    );
    $('div.social-btns button.btn-circle i').removeClass('share-icon');
    $('div.social-btns button.btn-circle').removeClass('btn-circle');

    $('div.social-btns div.dropdown-menu').addClass(
      'dropdown-section dropdown-menu-right'
    );
  });
</script>

<style>
  .hidden {
    display: none;
  }

  .thumbsup-btn {
    height: 3.1rem;
    width: 3.1rem;
  }

  .thumbsup-btn > i {
    font-size: var(--f14);
  }

  .trash {
    color: var(--secondary2);
  }

  .trash > svg {
    width: 1.3rem;
  }

  .reply {
    transform: rotate(0deg) !important;
  }
</style>
