<div class="shadow editor-container">
  <div class="row">
    <div class="col-auto comment-user pr-2">
      {% set doc_owner = frappe.session.user %} {% include
      "templates/includes/common/user_thumbnail.html" %}
    </div>
    <div class="input-group col pl-0 mt-0">
      <!-- TODO: onblur="contractCommentArea(event.target.id)" -->

      <div
        class="form-control pattern1 content-editable"
        contenteditable
        style="padding-top: 0.8rem;"
        id="comment-area-{{doctype}}-{{name}}"
        placeholder="Add a comment..."
        rows="1"
        onfocus="expandCommentArea('{{doctype}}','{{name}}')"
      ></div>
      <div class="input-group-append mt-0">
        <button
          class="btn btn-outline-danger pattern1"
          title="Clear All"
          type="button"
          onclick="cancelComment(`{{doctype}}`,`{{name}}`, `{{parent_div|default('', true)}}`)"
        >
          <i class="backspace"
            >{% include "public/svg/backspace-solid.svg" %}</i
          >
        </button>
        <button
          class="btn btn-outline-primary attach-btn pattern1"
          title="Attachment"
          type="button"
          onclick="showDropzone('{{doctype}}', '{{name}}','toggle')"
        >
          <i class="paperclip"
            >{% include "public/svg/paperclip-solid.svg" %}</i
          >
        </button>
      </div>
    </div>
  </div>
  <div class="row mt-3 comment-btn-row" hidden>
    <div class="col">
      <button
        class="btn comment-btn"
        type="button"
        onclick="submitComment('{{doctype}}', '{{name}}')"
      >
        Comment
      </button>
    </div>
  </div>
  <!-- <form class="dropzone dz-clickable hidden mt-3 pattern1" data-file-urls="[]"
    id="comment-dropzone-{{doctype}}-{{name}}">
    <div class="dz-default dz-message">
      <button class="dz-button" type="button">
        Drop files here to upload
      </button>
    </div>
  </form> -->
  <form
    class="dropzone dz-clickable hidden mt-3 pattern1"
    style="font-size: var(--f14); position: relative;"
    data-file-urls="[]"
    id="comment-dropzone-{{doctype}}-{{name}}"
  >
    <button
      id="clear-dropzone-{{doctype}}-{{name}}"
      class="btn btn-outline-primary rounded-circle clear-dropzone"
      title="Remove all"
    >
      <i class="redo-icon">{% include "public/svg/redo-solid.svg" %}</i>
    </button>

    <div class="dz-default dz-message">
      <button class="dz-button" type="button">
        Drop files here to upload
      </button>
    </div>

    <div class="hidden">
      <button class="add-more" id="add-multiple-files-{{doctype}}-{{name}}">
        <i>{% include "public/svg/plus-circle-solid.svg" %}</i>
        <p>Drop More</p>
      </button>
    </div>
  </form>
</div>

<script>
  expandCommentArea = (doctype, name) => {
    // set rows=5
    $(`#comment-area-${doctype}-${name}`).css({
      height: '12rem',
      'overflow-y': 'auto',
    });
    $('.comment-btn-row').attr('hidden', false);
  };

  contractCommentArea = (doctype, name) => {
    // set rows=1
    $(`#comment-area-${doctype}-${name}`).css({ height: '4rem' });
  };

  cancelComment = (doctype, name, parent_div) => {
    $(`#comment-area-${doctype}-${name}`).text('');
    $('.comment-btn-row').attr('hidden', true);
    contractCommentArea(doctype, name);
    if (parent_div) {
      $(parent_div).addClass('hidden');
    }

    // clear dropzone section
    const resetBtn = $(`button#clear-dropzone-${doctype}-${name}`);
    if (resetBtn) {
      resetBtn.click();
    }

    showDropzone(doctype, name, 'hide');
  };

  function addAnchorToText(input) {
    // https://alexcorvi.github.io/anchorme.js/#getting-started
    return anchorme({
      input,
      options: {
        attributes: {
          target: '_blank',
        },
      },
    });
  }

  submitComment = (doctype, name) => {
    const id = `comment-area-${doctype}-${name}`; // for compatibility with cancelComment
    const text = addAnchorToText($(`#${id}`).html());
    const media = $(`#comment-dropzone-${doctype}-${name}`).data('file-urls');

    if (text.length) {
      // console.log(comment);
      frappe.call({
        method: 'contentready_oip.api.add_comment',
        args: { doctype: doctype, name: name, text: JSON.stringify(text), media: media },
        callback: (r) => {
          // console.log(r);
          if (doctype == 'Discussion') {
            cancelComment(doctype, name);
            window.location.reload();
          } else if (r.message) {
            if ($('#comments-list').length) {
              $('#comments-list').prepend(r.message);
              cancelComment(doctype, name);
            } else {
              cancelComment(doctype, name);
              window.location.reload();
            }
          }
        },
      });
    } else {
      frappe.throw('Cannot submit an empty comment.');
    }
  };

  showDropzone = (doctype, name, state) => {
    const dz = $(`#comment-dropzone-${doctype}-${name}`);

    if (state === 'toggle') {
      dz.toggleClass('d-flex justify-content-center align-items-center hidden');
    } else {
      dz.addClass('hidden').removeClass(
        'd-flex justify-content-center align-items-center'
      );
    }
  };

  frappe.ready(() => {
    // Start dropzone.js integration
    const dScriptUrl =
      window.location.origin + '/assets/contentready_oip/js/dropzone.js';
    $.getScript(dScriptUrl, () => {
      // disable autoDiscover as we are manually binding the dropzone to a form element
      Dropzone.autoDiscover = false;
      $('#comment-dropzone-{{doctype}}-{{name}}').dropzone({
        url: '/api/method/upload_file',
        autoDiscover: false,
        // maxFiles: 1,
        addRemoveLinks: true,
        clickable: [
          '#comment-dropzone-{{doctype}}-{{name}}',
          '#add-multiple-files-{{doctype}}-{{name}}',
        ],
        headers: {
          Accept: 'application/json',
          'X-Frappe-CSRF-Token': frappe.csrf_token,
        },
        init: function () {
          // use this event to add to child table
          this.on('complete', (file) => {
            // console.log('{{name}}');
            const response = JSON.parse(file.xhr.response);
            const file_url = response.message.file_url;
            const media = $('#comment-dropzone-{{doctype}}-{{name}}').data(
              'file-urls'
            );
            media.push(file_url);
            $('#comment-dropzone-{{doctype}}-{{name}}').data(
              'file-urls',
              JSON.stringify(media)
            );
          });

          // use this event to remove from child table
          this.on('removedfile', (file) => {
            // console.log('removed', file);
            toggleAddMore(myDropzone.files.length);
            let media = $('#comment-dropzone-{{doctype}}-{{name}}').data(
              'file-urls'
            );
            try {
              if (media) {
                media = JSON.parse(media);
                media = media.filter((i) => !i.endsWith(file.name));
                $('#comment-dropzone-{{doctype}}-{{name}}').data(
                  'file-urls',
                  JSON.stringify(media)
                );
              }
            } catch (error) {
              console.error(error);
            }
          });

          const myDropzone = this;

          // Add more section
          this.on('sending', function () {
            toggleAddMore(myDropzone.files.length);
          });

          const addMutipleFilesBtn = document.querySelector(
            '#add-multiple-files-{{doctype}}-{{name}}'
          );
          if (addMutipleFilesBtn) {
            addMutipleFilesBtn.onclick = function (e) {
              e.preventDefault();
            };
          }

          // Reset Button
          const clearDzBtn = document.querySelector(
            `button#clear-dropzone-{{doctype}}-{{name}}`
          );
          if (clearDzBtn) {
            clearDzBtn.addEventListener('click', function (e) {
              e.preventDefault();
              myDropzone.removeAllFiles();
            });
          }
        },
      });

      function toggleAddMore(len) {
        const addMore = $('#add-multiple-files-{{doctype}}-{{name}}').parent();
        if (len) {
          addMore.addClass('dz-preview').removeClass('hidden');
        } else {
          addMore.addClass('hidden').removeClass('dz-preview');
        }
      }
    });
    // End dropzone.js integration

    frappe.call({
      method: 'contentready_oip.api.get_user_list',
      args: {},
      callback: function (r) {
        const user_list = new Set();
        r.message.forEach((v) => {
          if (v.text) {
            user_list.add({ key: v.text, value: v.id });
          }
        });

        let tribute = new Tribute({
          values: [...user_list],
          menuItemLimit: 10,
          selectTemplate: function (item) {
            const re = /[-+.^:,@]/g;
            const route = `../contributors/${item.original.value.replace(re, '')}`;
            return `<a href="${route}">@${item.original.key}</a>`;
          },
          noMatchTemplate: function () {
            return 'not Found';
          },
          menuItemTemplate: function (item) {
            return item.string;
          },
        });

        tribute.attach(
          document.getElementById(`comment-area-{{doctype}}-{{name}}`)
        );
      },
    });

    $(`#comment-area-{{doctype}}-{{name}}`).addClass('hello');
  });
</script>

<script>
  frappe.ready(() => {
    $('.comment-user img').css({
      height: 40,
      width: 40,
      'border-radius': '50%',
    });
    $('div.comment-user .created-by-section').attr('hidden', true);
  });
</script>

<style>
  .hidden {
    display: none;
  }

  .tribute-container ul {
    font-size: 1.2rem;
  }

  .content-editable {
    min-height: 4rem;
    line-height: 2rem;
  }

  .editor-container {
    border: 1px solid var(--secondary1);
    border-radius: var(--round4);
    min-height: 6.6rem;
    padding: 1.3rem 2.1rem;
  }

  .commentSection {
    border-radius: 0.4rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .attach-btn {
    color: var(--primary1);
    border: 1px solid var(--primary1);
    border-color: var(--primary1);
  }

  .attach-btn:hover {
    color: #ffffff;
    background-color: var(--primary1);
    border-color: var(--primary1);
  }

  .paperclip > svg,
  .backspace > svg {
    width: 1.4rem;
  }
</style>

<!-- dropzone style -->
<style>
  .clear-dropzone {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
  }

  .clear-dropzone:hover {
    color: white;
  }

  .redo-icon > svg {
    width: 1.2rem;
  }

  .add-more {
    width: 12rem;
    height: 12rem;
    border-radius: 2rem;
    background-color: var(--primary1);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.8rem;
  }

  .add-more:focus {
    outline: none;
    box-shadow: none;
  }

  .add-more > i > svg {
    width: 5rem;
    text-align: center;
  }
</style>
