{% set doctype = comment.doctype %}
{% set name = comment.name %}
<div class="comment-section">
    <div class="">
        {% set user_image = frappe.db.get_value('User', comment.owner, 'user_image') %}
        <img src="{{user_image|default('/files/default-avatar.jpg', true)}}" alt="profile photo" class=""
            style="object-fit: cover;overflow: hidden;" width="40" height="40" />
    </div>
    <div class="details-container">
        <div>
            <span>
                {{ comment.owner or 'Anonymous' }}
            </span>
            <br />
            <span class="comment-date">
                {{frappe.utils.pretty_date(comment.creation)}}
            </span>
        </div>
        <p>{{comment.text}}</p>
        <button class="attach-btn" data-toggle="modal" #showModalBtn
            onclick="processAction('view-attachments','{{doctype}}','{{name}}')">
            <i class="fas fa-paperclip"></i>

            See {{ comment.attachments | length }} Attachments
        </button>
        <button class="btn" onclick="replyToComment('{{comment.name}}')">
            <i class="far fa-share"></i>
            Reply
        </button>
        <div id="reply-{{comment.name}}" class="hidden">
            {% set doctype = comment.doctype %}
            {% set name = comment.name %}
            {% set parent_div = '#reply-' + comment.name %}
            {% include "templates/includes/common/comment_editor.html" %}
        </div>
    </div>
</div>

{% for reply in comment.replies %}
<div class="reply-section">
    <div class="">
        {% set user_image = frappe.db.get_value('User', reply.owner, 'user_image') %}
        <img src="{{user_image|default('/files/default-avatar.jpg', true)}}" alt="profile photo" class=""
            style="object-fit: cover;overflow: hidden;" width="40" height="40" />
    </div>
    <div class="reply-text-section">
        <div class="user-info">
            <span class="text-capitalize replier-name">
                {{ reply.owner or 'Anonymous' }}
            </span>
            <span class="dot"></span>
            <span class="reply-date">
                {{frappe.utils.pretty_date(reply.creation)}}
            </span>
        </div>
        <p>{{reply.text}}</p>

        <button class="attach-btn" data-toggle="modal" #showModalBtn
            onclick="processAction('view-attachments','{{doctype}}','{{name}}')">
            <i class="fas fa-paperclip"></i>

            See {{ reply.attachments | length }} Attachments
        </button>
    </div>
</div>
{% endfor %}

<script>
    replyToComment = (name) => {
        // console.log('hello', $(`#reply-${name}`));
        $(`#reply-${name}`).removeClass('hidden');
    }

</script>

<style>
    .orange-text{
        color: #d98b26 !important;
    }
    .hidden{
        display: none;
    }
</style>