<div class="bg-white pb-2">
    <ul class="nav nav-tabs nav-section" id="discussionTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="discussion-tab" data-toggle="tab" href="javascript:void(0);" role="tab"
                aria-controls="discussion" aria-selected="true">Discussions ({{ discussions | length }})</a>
        </li>
    </ul>

    <div class="btn-group sort-btn overwrite-top">
        <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            class="close dropdown-toggle text-capitalize">
            Sort
        </button>
        <div class="dropdown-menu mt-2 dropdown-menu-right">
            <a class="dropdown-item dropdown-item-large" href="javascript:void(0);"
                onclick="showPopularDiscussions('latest')">Latest</a>
            <a class="dropdown-item dropdown-item-large" href="javascript:void(0);"
                onclick="showPopularDiscussions('popular')">Popular</a>
        </div>
    </div>

    {% if frappe.session.user != 'Guest' %}
    <div class="my-4 px-4">
        {% set doctype = doctype %}
        {% set name = name %}
        {% include "templates/includes/common/comment_editor.html" %}
    </div>
    {% if (discussions | length) > 0 %}
    <div id="discussionTabGroup" class="pb-2">
        <div class="px-4 my-2" id="comments-list">
            {% for d in discussions | reverse %}
            {% set comment = frappe.get_doc('Discussion', d.discussion) %}
            {% include "templates/includes/common/comment.html" %}
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class=" pre-login m-4 d-flex justify-content-center align-items-center flex-column">
        <div class="pre-login-icon">
            <!-- <i class="far fa-comment-alt"></i> -->
            <i style="width: 2rem;">{% include "public/svg/comment-alt.svg" %}</i>
        </div>
        <div class="pre-login-text">
            Would you like to start the conversation?
        </div>
    </div>
    {% endif %}
    {% else %}
    <div id="discussionTabGroup" class="pb-2">
        <div class=" pre-login m-4 p-4 d-flex justify-content-center align-items-center flex-column">
            <div class="pre-login-icon">
                <!-- <i class="far fa-comment-alt"></i> -->
                <i style="width: 2rem;">{% include "public/svg/comment-alt.svg" %}</i>
            </div>
            <div class="pre-login-text">
                <a href="/login">Login</a> to participate in the discussion.
            </div>
        </div>
    </div>
    {% endif %}
</div>

<style>
    .dropdown-item-large {
        font-size: 1.4rem;
    }

    .overwrite-top{
        top: 1.2rem;
    }
</style>