<button class="btn btn-circle margin-20" onclick="editDocument('{{doctype}}','{{name}}', `{{data | safe}}`)"
    aria-label="Edit {{doctype}} {{name}}">
    <i class="edit-icon">{% include "public/svg/edit.svg" %}</i>

</button>

<style>
    .edit-icon {
        top: -.5rem;
    }
</style>

<script>
    editDocument = ( doctype, name, data ) => {
        console.log( doctype, name, data );
        if ( doctype === 'Problem' ) {
            window.location.href = `/add-problem?name=${ name }`;
        } else if ( doctype === 'Enrichment' ) {
            window.location.href = `/add-enrichment?name=${ name }`;
        } else if ( doctype === 'Solution' ) {
            window.location.href = `/add-solution?name=${ name }`;
        } else if ( doctype === 'Collaboration Intent' ) {
            // data = JSON.parse(data.replace(/u\'/g, '"').replace(/\'/g, '"'));
            data = JSON.parse( `{{data | tojson if data}}` )

            // personas_list contains all personas
            // For now, we use just the first element
            // For multiselect we should use the complete list
            const personas_list = data[ 0 ] ? data[ 0 ].split( ',' ) : [];
            $( '#collaboration-modal-' + name ).modal( 'toggle' );
            $( "#persona-select-" + name ).val( personas_list[ 0 ] );
            $( "#collaboration-comment-" + name ).val( data[ 1 ] );
        } else if ( doctype === 'Validation Table' ) {
            data = JSON.parse( data.replace( /u\'/g, '"' ).replace( /\'/g, '"' ) );
            $( '#validation-modal-' + name ).modal( 'toggle' );
            $( "#validation-comment-" + name ).val( data[ 0 ] );
        }
    }
</script>