<div id="filter-component">
  <div class="linear-background" style="height: 4.2rem;"></div>
</div>

<style>
  #range-sel-div select,
  #location-input-div input {
    font-weight: var(--wgt500);
    height: 4.2rem;
    box-sizing: border-box;
    border: 0.2rem solid var(--secondary1);
    border-radius: var(--round4);
    background-color: transparent;
    padding: 0.75rem !important;
    margin-top: 0 !important;
    width: 259px;
  }

  .row > div {
    padding-left: 2rem;
  }

  .select2-results ul, .selection ul{
    font-size: var(--f12);
  } 

  .filter-select {
    font-weight: var(--wgt500);
    line-height: 2.3rem;
    border: 0.2rem solid var(--secondary1) !important;
    border-radius: var(--round4) !important;
    background-color: transparent !important;
    margin-bottom: .5rem;
  }

  #sector-sel_itemList,#beneficiary-sel_itemList,#persona-sel_itemList, #sdg-sel_itemList{
    margin-top: 1rem;
  }

  #sector-sel_itemList label, 
  #beneficiary-sel_itemList label, 
  #persona-sel_itemList label, 
  #sdg-sel_itemList label {
    font-size: 1.4rem;
  }
 
  #sector-sel_itemList li,
  #beneficiary-sel_itemList li,
  #persona-sel_itemList li,
  #sdg-sel_itemList li {
    padding: .2rem .7rem;
  }

  .multiselect-wrapper ul li.active {
    background-color: var(--primary2) !important;
  }

  .multiselect-wrapper ul li:hover {
    background-color: var(--primary2) !important;
  }

  #sector-sel_inputCount,
  #beneficiary-sel_inputCount,
  #persona-sel_inputCount,
  #sdg-sel_inputCount {
    top: -3.2rem;
    left: 85% !important;
    color: var(--secondary6);
    background-color: var(--primary2)
  }

  .multiselect-checkbox {
    margin-right: .8rem !important;
  }

  .filter-input {
    padding: .75rem !important;
    font-size: 1.4rem;
  }

  @media only screen and (max-width: 600px) {
    .in-mob {
      width: 95%;
    }

    #location-input-div{
      width: 100%;
    }

    .actions {
      margin-right: 1%;
    }
  }
</style>

<script type="text/x-template" id="filter-script">
    <form @submit.prevent="searchWithFilters">
      {% if show_search %}
      <div class="input-group input-section mb-4">
        <input type="search" class="form-control form-control-lg style1"
            aria-label="Search the Open Innovation Platform" autocomplete="off" list="suggestions"
            placeholder="Search for problems, solutions and contributors" name='key' v-model="key" v-on:keyup="get_search_suggestions"
            id="search-input">
            <datalist id="suggestions">
              <option v-for="title of suggested_titles" v-bind:value="title"></option>
            </datalist>
        <div class="input-group-append style1">
            <button type="submit" data-enabled=1 class="btn active-btn" 
                id="search-btn"><img src="/assets/contentready_oip/svg/search-solid.svg" style="opacity: .4;"
                    class="" width="30" height="20"></button>
        </div>
      </div>
      {% endif %}
    
  <div class="container d-flex flex-column">
  <div class="row justify-content-sm-start justify-content-md-end flex-wrap" id="filter-section">
    {% if available_sectors | length %}
    <div class="mt-4 mt-sm-3 in-mob" id="sector-sel-div">
      <select class="pattern1" multiple id="sector-sel" @input="storeSectorFilter">
        <option v-for="sector in available_sectors" :value="sector.name">[[sector.title]]</option>
      </select>
    </div>
    {% endif %}

    {% if available_sdg | length %}
    <div class="mt-4 mt-sm-3 in-mob" id="sdg-sel-div">
      <select class="pattern1" multiple id="sdg-sel" @input="storeSdgFilter">
        <option v-for="option in available_sdg" :value="option.name">[[option.title]]</option>
      </select>
    </div>
    {% endif %}

    {% if available_beneficiaries | length %}
    <div class="mt-4 mt-sm-3 in-mob" id="beneficiary-sel-div">
      <select class="pattern1" multiple id="beneficiary-sel" @input="storeBeneficiaryFilter">
        <option v-for="option in available_beneficiaries" :value="option.name">[[option.title]]</option>
      </select>
    </div>
    {% endif %}

    {% if available_personas | length %}
    <div class="mt-4 mt-sm-3 in-mob" id="persona-sel-div">
      <select class="pattern1" multiple id="persona-sel" @input="storePersonaFilter">
        <option v-for="option in available_personas" :value="option.name">[[option.title]]</option>
      </select>
    </div>
    {% endif %}

    {% if available_service_categories | length %}
    <div class="mt-4 mt-sm-3 in-mob" id="service-category-sel-div">
      <select class="pattern1" id="service-category-sel" @input="storeServiceCategoryFilter" v-model="selected_service_category">
        <option value="" disabled>Select Category</option>
        <option v-for="option in available_service_categories" :value="option.name">[[option.title]]</option>
      </select>
    </div>
    {% endif %}
    
    <div class="mt-4 mt-sm-3 in-mob" id="location-input-div">
      <input class="pattern1 in-mob" type="text" ref="location" v-model="searched_location" id="autocomplete" placeholder="Search for location..."
        @input="clearLocationIfEmpty" />
    </div>
    <div class="mt-4 mt-sm-3 in-mob" id="range-sel-div" v-show="searched_location">
      <select class="pattern1" @input="storeRangeFilter" v-model="selected_range" id="range-sel">
        <option v-for="op of range_options" :value="op">[[op]] km</option>
      </select>
    </div>
  </div>
  <div class="row flex-row-reverse mt-3 actions">
    <button class="btn btn-primary btn-lg text-white" @click="searchWithFilters">Search With Filters</button>
    &nbsp;&nbsp;
    <button class="btn btn-outline-danger btn-lg" @click="resetFilter">Clear Filters</button>
  </div>
</div>
</form>
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxSPvgric8Zn54pYneG9NondiINqdvb-w&libraries=places" defer></script>

<style>
  {% include "public/css/multiselect.css" %}
</style>

<script>
  {% include "public/js/multiselect.min.js" %}
  {% include "templates/includes/common/filter.js" %}
</script>