<div class="container">
    <div class="row">
        <div class="col">
            <div class="col pl-0">
                <div class=" quick-stats ">
                    <div class="row h-100">
                        <div class="col-md-4 text-center stats">
                            <h3>Problems Listed</h3>
                            <p class="">{{stats.problems}}</p>
                        </div>
                        <div class="col-md-4 text-center stats">
                            <h3>Solution Provided</h3>
                            <p class="">{{stats.solutions}}</p>
                        </div>
                        <div class="col-md-4 text-center stats">
                            <h3>No. of Collaborators</h3>
                            <p class="">{{stats.collaborators}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>