<div class="likes"></div>
<script type="text/javascript" src="/assets/frappe/node_modules/vue/dist/vue.js"></script>

<script>

  new Vue({
    el: '.likes',
    data: {
      doctype: `{{doctype}}`,
      name: `{{name}}`,
      numOflikes: `{{likes | length}}`,
      isLiked: false
    },
    computed: {
      clickable: function () {
        const isClickable = `{{isClickable}}`
        if (isClickable == false) {
          return false
        } else {
          return true
        }
      }
    },
    methods: {
      toggleLike: function (doctype, name) {
        if (!clickable) {
          // disabling the click based on context
          return;
        }

        if (frappe.session.user === 'Guest') {
          frappe.throw('Please login to participate.');
        }
        frappe.call({
          method: 'contentready_oip.api.can_user_contribute',
          args: {
            child_doctype: 'Like Table',
            parent_doctype: doctype,
            parent_name: name
          },
          callback: r => {
            // this.isLiked = r.message[0];
            const is_owner = r.message[1];
            if (is_owner) {
              frappe.throw(`You cannot like your own ${doctype}`);
            } else {
              // initial values

              if (this.isLiked) {
                this.numOflikes -= this.numOflikes;
              } else {
                this.numOflikes += this.numOflikes;
              }

              this.isLiked = !this.isLiked;
              // TODO: Fix incorrect counts issue when making UI change before sending to server.
              // change UI first, then send to server -
              frappe.call({
                method: 'contentready_oip.api.toggle_contribution',
                args: {
                  child_doctype: 'Like Table',
                  parent_doctype: doctype,
                  parent_name: name,
                  field_name: 'likes'
                },
                callback: r => {
                  // server is the source of truth so we change the UI to reflect that.
                  this.isLiked = r.message[0];
                  this.numOflikes = r.message[1].length;
                }
              });
            }
          }
        });
      }
    },
    beforeCreate: function () {
      // TODO: Replace this call with a filter on the data-likes attribute.
      // However, currently, frappe does not expand child tables within child tables into dicts.
      frappe.ready(() => {
        frappe.call({
          method: 'contentready_oip.api.has_user_contributed',
          args: {
            child_doctype: 'Like Table',
            parent_doctype: '{{doctype}}',
            parent_name: '{{name}}'
          },
          callback: r => {
            this.isLiked = r.message;
          }
        });
      });
    },
    template: `
      <div class="d-flex align-items-center">
        {% raw %}
        <button class="btn social-icon-btn" :class="{
                      'selected': isLiked
                    }" v-on:click="toggleLike(doctype,name)" role="button">
          <i class="far fa-thumbs-up"></i>
        </button>
        <span class="social-stats">{{numOflikes}}</span>
        {% endraw %}
      </div>
      `
  })
</script>