<div class="likes"></div>

<script>
  function initializeLikes() {
  new Vue({
    el: ".likes",
    name: "likeBtn",
    delimiters: ["[[", "]]"],
    data() {
      return {
        doctype: `{{doctype}}`,
        name: `{{name}}`,
        numOflikes: `{{likes | length}}`,
        isLiked: false,
      };
    },
    computed: {
      disabled: function () {
        const isClickable = `{{isClickable}}`;
        return isClickable.toLowerCase() === 'false';
      },
    },
    methods: {
      toggleLike(doctype, name) {
        if (this.disabled) {
          // disabling the click based on context
          return;
        }

        if (frappe.session.user === "Guest") {
          frappe.throw("Please login to participate.");
        }
        frappe.call({
          method: "contentready_oip.api.can_user_contribute",
          args: {
            child_doctype: "Like",
            parent_doctype: doctype,
            parent_name: name,
          },
          callback: (r) => {
            // this.isLiked = r.message[0];
            const is_owner = r.message[1];
            if (is_owner) {
              frappe.throw(`You cannot like your own ${doctype}`);
            } else {
              // isLiked is the previous state (pre-toggling)
              if (this.isLiked) {
                this.numOflikes = Number(this.numOflikes - 1);
              } else {
                this.numOflikes = Number(this.numOflikes + 1);
              }
              this.isLiked = !this.isLiked;

              // TODO: Fix incorrect counts issue when making UI change before sending to server.
              // change UI first, then send to server -
              frappe.call({
                method: "contentready_oip.api.toggle_contribution",
                args: {
                  child_doctype: "Like",
                  parent_doctype: doctype,
                  parent_name: name,
                },
                callback: (r) => {
                  // server is the source of truth so we change the UI to reflect that.
                  // this.isLiked = r.message[0];
                  // this.numOflikes = r.message[1].length;
                },
              });
            }
          },
        });
      },
    },
    created() {
      // TODO: Replace this call with a filter on the data-likes attribute.
      // However, currently, frappe does not expand child tables within child tables into dicts.

      frappe.call({
        method: "contentready_oip.api.has_user_contributed",
        args: {
          child_doctype: "Like",
          parent_doctype: "{{doctype}}",
          parent_name: "{{name}}",
        },
        callback: (r) => {
          this.isLiked = r.message;
        },
      });
    },
    template: `
      <div class="d-flex align-items-center">
        <button 
          class="btn social-icon-btn" 
          :class="{
                      'selected': isLiked,
                      'detail_like_btn': !disabled,
                      'card_like_btn': disabled
                    }" 
          v-on:click="toggleLike(doctype,name)" 
          role="button"
          title="Like"
        >
          <i>{% include "public/svg/thumbs-up-regular.svg" %}</i>
        </button>
        <span class="social-stats">[[numOflikes]]</span>
      </div>
      `,
  });
}

try {
  frappe.require(['/assets/frappe/node_modules/vue/dist/vue.js'],initializeLikes)
} catch (error) {
  frappe.ready(initializeLikes)
}
  
</script>

<style>
  .detail_like_btn {
    width: 3.2rem;
    height: 3.2rem;
  }

  .detail_like_btn>i>svg {
    width: 1.6rem;
  }

  .detail_like_btn>i {
    line-height: 0;
  }

  .card_like_btn {
    width: 2.6rem;
    height: 2.6rem;
  }

  .card_like_btn>i>svg {
    width: 1.36rem;
  }

  .card_like_btn>i {
    line-height: 0;
  }
</style>