<div class="row">
    <div class="col">
        <div class="col-sm-12 problem-listed-container">
            <div class="d-flex align-items-center flex-row-reverse">
                <h3>
                    {% if has_next_page %}
                    <a href="javascript:void(0)" onclick="goToPage('{{page + 1}}')"
                        style="text-decoration: none;color: white;">
                        Next Page
                    </a>
                    {% endif %}

                    {% if page != 1 %}
                    <a href="javascript:void(0)" onclick="goToPage('{{page - 1}}')"
                        style="text-decoration: none;color: white;">
                        Previous Page
                    </a>
                    {% endif %}
                </h3>
            </div>
        </div>
    </div>
</div>

<script>
    goToPage = ( page ) => {
        const filter_query = loadFilters();
        const existing_query = frappe.utils.get_query_params();
        const page_query = {page: page};
        let qp;
        if ( Object.keys( filter_query ).length ) {
            const combined_query = {...existing_query, ...filter_query, ...page_query};
            // console.log(combined_query, filter_query);
            qp = frappe.utils.make_query_string( combined_query );
            console.log( qp );
        }
        if ( qp ) {
            const clean_url = window.location.href.split( '?' )[ 0 ];
            window.location.href = clean_url + qp;
        }
    }
</script>