<div class="container">
    <div class="row my-3">
        <div class="col-3">
            <h3 class="mb-3">Curated by</h3>
            
            <a  
                target="_blank"
                href="https://socialalpha.org"
                title="Social Alpha">
                <img
                    src="/assets/contentready_oip/images/socialalpha.png"
                    alt="Social Alpha"
                    class="partner-image"
                    style="max-width: 12rem;"
                />
            </a>
        </div>
        {% if partners and partners | length %}
        <div class="col-9">
            <h3 class="mb-3">Supported by</h3>
            <div class="row">
                {% for partner in partners %}
                    <div class="col-4">
                        <a  
                            target="_blank"
                            href="{{partner.url}}"
                            title="{{partner.title}}">
                            <img
                                src="{{partner.brandmark}}"
                                alt="{{partner.title}}"
                                class="partner-image"
                            />
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
