<div id="short-section-{{name}}" class="description-format">
    {% if long_text and (long_text | length) > 500 %}
    <p>
        {{ frappe.utils.html2text(long_text)[:500] + '...' if not short_text else short_text }}
    </p>
    <a href="javascript:void(0);" class="orange-text" onclick="expandText('{{name}}')">Read more</a>
    {% else %}
    {{long_text}}
    {% endif %}

</div>

<div class="hidden description-format" id="full-section-{{name}}">
    {{long_text}}
    <a href="javascript:void(0);" class="orange-text" onclick="truncateText('{{name}}')">Read less</a>
</div>


<style>
    .orange-text {
        color: #d98b26 !important;
    }

    .hidden {
        display: none;
    }
</style>

<script>
    expandText = ( name ) => {
        $( '#short-section-' + name ).addClass( 'hidden' );
        $( '#full-section-' + name ).removeClass( 'hidden' );
    }
    truncateText = ( name ) => {
        $( '#short-section-' + name ).removeClass( 'hidden' );
        $( '#full-section-' + name ).addClass( 'hidden' );
    }
</script>
<style>
    .description-format>* {
        font-size: 1.4rem !important;
        line-height: 2.2rem !important;
    }
</style>