<div class="tags my-3">
  {% if show_all %}
  {% set limit = (sectors | length) %}
  {% else %}
  {% set limit = 1 %}
  {% endif %}
  {% for sector in sectors[:limit] %} {% set doc = frappe.get_doc('Sector',
  sector.sector) %}
  <button
    class="tag actions text-capitalize"
    onclick="selectSector('{{sector.sector}}', '{{doctype}}')"
  >
    {% if doc.image %}
      <img class="sector-icon" src="{{doc.image}}" />
    {% endif %}
    {{ doc.title }}
  </button>
  {% endfor %} {% if (sectors | length) > limit %}
  <button class="tag actions text-capitalize">
    +{{ (sectors | length) - limit }}
  </button>
  {% endif %}
</div>

<script>
  selectSector = (sector, doctype) => {
    frappe.call({
      method: 'contentready_oip.api.set_sector_filter',
      args: {
        sectors: [sector]
      },
      callback: function(r) {
        // Redirect and reload as index.py will use the session variables to filter problems/solutions shown.
        if (doctype === 'Problem') {
          window.location.href = '/problems';
        } else if (doctype === 'Solution') {
          window.location.href = '/solutions';
        }
      }
    });
  };
</script>


<style>
  .sector-icon {
    height: 1.5rem !important;
  }
</style>