<table class="table sectors-description-table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    {% for sector in available_sectors %}
    <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>
            {% if sector.image %}
              <img class="sector-icon" src="{{sector.image}}" />
            {% endif %}
            {{ sector.title }}
        </td>
        <td>{{ sector.description or "" }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>