{% set doc = frappe.get_doc('User Profile', doc_owner) %}
<div>
  <img
    src="{{doc.photo|default('/assets/contentready_oip/images/default-avatar.jpg', true)}}"
    alt="profile photo"
    class="img-profile actions"
    style="object-fit: cover;overflow: hidden !important;"
    width="50"
    height="50"
    onerror="javascript:this.src='../assets/contentready_oip/images/default-avatar.jpg'"
    onclick="window.location.href = '/{{doc.route}}'"
  />
</div>
<div class="created-by-section">
  <div class="neutralize actions" onclick="window.location.href = '/{{doc.route}}'">{{doc.full_name}}</div>
  {% if date %}
  <div class="neutralize"></div>
  <div class="neutralize">{{frappe.utils.pretty_date(date)}}</div>
  {% endif %}
</div>
