<div>
  {% set doc = frappe.get_doc('User Profile', doc_owner) %}
  <img
    src="{{doc.photo|default('/files/default-avatar.jpg', true)}}"
    alt="profile photo"
    class="img-profile"
    style="object-fit: cover;overflow: hidden !important;"
    width="50"
    height="50"
    onerror="javascript:this.src='../assets/contentready_oip/images/default-avatar.jpg'"
  />
</div>
<div class="created-by-section">
  <div class="neutralize">{{doc.full_name}}</div>
  {% if date %}
  <div class="neutralize"></div>
  <div class="neutralize">{{frappe.utils.pretty_date(date)}}</div>
  {% endif %}
</div>
