<style>
  .profile-name {
    margin-top: 1rem;
  }

  .profile-name>h3 {
    font-weight: bold;
    text-transform: capitalize;
  }

  .profile-name>h3>a {
    color: var(--secondary1);
  }

  .profile-persona-and-company {
    /* margin-top: 1rem; */
    min-height: 4.2rem;
  }

  .profile-persona-and-company>p {
    font-size: var(--f12);
    color: var(--secondary2);
    padding: 0;
    margin: 0;
    line-height: 2rem;
    letter-spacing: -0.01rem;
  }
</style>

<div class="profile-container actions" role="group" onclick="window.location.href = '/{{user.route}}'">
  <div class="profile-image">
    <img src="{{ user.photo }}" alt="profile photo" class="profile-image" />
  </div>

  <div class="profile-name">
    <h3 class="pattern1">
      {{ user.full_name }}
    </h3>
  </div>

  <div class="profile-persona-and-company">
    <p class="company">
      {{ user.org_title if user.title else '' }}
    </p>
    {% set personas = user.personas %} 
    {% include "templates/includes/common/persona_labels.html" %}
  </div>

  <div class="">
    {% set sectors = user.sectors %} {% include
    "templates/includes/common/sector_labels.html" %}
  </div>
</div>