<div class="modal" tabindex="-1" role="dialog" id="validation-modal-{{name}}">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content p-4">
            <div class="modal-header validation-header">
                <h3 class="modal-title">Fill in details to validate</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body validation-body">
                <form>
                    <div class="form-group">
                        <label for="validation-comment" class="modal-label">Comment</label>
                        <textarea type="text" class="form-control validation-comment-area"
                            id="validation-comment-{{name}}" rows="3" placeholder="Enter comment"></textarea>
                    </div>
                </form>
                <form class="dropzone dz-clickable d-flex align-items-center justify-content-center flex-wrap"
                    style="font-size:var(--f14);" data-file-url='' id='validation-dropzone-{{name}}'>
                    <div class="dz-default dz-message "><button class="dz-button" type="button">Add your
                            attachment</button></div>
                </form>
            </div>
            <div class="modal-footer validation-footer">
                {% if doctype == 'Validation Table' %}
                <!-- Edit mode -->
                <button type="button" class="modal-btn btn-outline-danger"
                    onclick="deleteValidation('{{doctype}}', '{{name}}')">Delete</button>
                {% endif %}
                <button type="button" class="modal-btn btn-outline-success"
                    onclick="submitValidation('{{doctype}}', '{{name}}', true)">Agree</button>
                <button type="button" class="modal-btn btn-outline-danger mr-auto"
                    onclick="submitValidation('{{doctype}}', '{{name}}', false)">Disagree</button>
            </div>
        </div>
    </div>
</div>

<script>
    deleteValidation = (doctype, name) => {
        frappe.call({
            method: 'contentready_oip.api.delete_contribution',
            args: {
                child_doctype: doctype,
                name: name
            },
            callback: (r) => {
                if (r.message) {
                    window.location.reload();
                }
            }
        });
    }

    submitValidation = (doctype, name, agree) => {
        const validation = {
            user: frappe.session.user,
            agree: agree,
            comment: $('#validation-comment-' + name).val(),
            attachment: $('#validation-dropzone-' + name).data('file-url'),
        }
        frappe.call({
            method: 'contentready_oip.api.add_or_edit_validation',
            args: {
                doctype: doctype,
                name: name,
                validation: validation
            },
            callback: (r) => {
                if (r.message[1] > 0) {
                    if (doctype == 'Validation Table') {
                        // edit mode
                        $('#validation-card-' + name).replaceWith(r.message[0]);
                        // TODO: Toggles twice for some reason, leaving an empty form on the screen.
                        // TEMP Fix: Reload.
                        window.location.reload();
                    } else {
                        $('#validations').prepend(r.message[0]);
                        $('#validation-count').text(r.message[1]);
                        $('#validation-modal-' + name).modal('toggle');
                    }
                }
            }
        });
    }

    frappe.ready(() => {
        // Start dropzone.js integration
        const dScriptUrl = 'assets/contentready_oip/js/dropzone.js';
        $.getScript(dScriptUrl, () => {
            // disable autoDiscover as we are manually binding the dropzone to a form element
            Dropzone.autoDiscover = false;
            $('#validation-dropzone-{{name}}').dropzone({
                url: "/api/method/upload_file",
                autoDiscover: false,
                maxFiles: 1,
                addRemoveLinks: true,
                headers: {
                    'Accept': 'application/json',
                    'X-Frappe-CSRF-Token': frappe.csrf_token
                },
                init: function () {
                    // use this event to add to child table
                    this.on("complete", (file) => {
                        // console.log('{{name}}');
                        const response = JSON.parse(file.xhr.response);
                        const file_url = response.message.file_url;
                        $('#validation-dropzone-{{name}}').data('file-url',
                            file_url);
                    });
                    // use this event to remove from child table
                    this.on('removedfile', (file) => {
                        // console.log('removed', file);
                        $('#validation-dropzone-{{name}}').data('file-url', '');
                    });
                }
            });
        });
        // End dropzone.js integration
    })
</script>

<style>
    .modal-btn {
        height: 4.2rem;
        box-sizing: border-box;
        /* border: 0.2rem solid #d1811a; */
        border-radius: 0.4rem;
        background-color: #ffffff;
        /* color: #d98b26; */
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: -0.01rem;
        line-height: 1.4rem;
        align-items: center;
        text-transform: capitalize;
        padding: 0 1.5rem;
    }

    .validation-comment-area {
        color: var(--secondary1);
        font-size: var(--f14);
        letter-spacing: var(--space);
        line-height: 2.2rem;
    }

    .modal-label,
    .dz-message {
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--secondary1);
    }

    .validation-body>form>div.dz-message {
        margin: 3rem 0;
    }

    .validation-header {
        border-bottom: none;
    }

    .validation-header>.close {
        font-size: 2rem;
    }

    .validation-footer {
        border-top: none;
    }
</style>