<div class="col-sm-12 validateCard" id="validation-card-{{validation.name}}">
    <div class="float-right">
        {% if frappe.session.user == validation.user %}
            {% set doctype = validation.doctype %}
            {% set name = validation.name %}
            {% set data = [validation.comment] %}
            {% include "templates/includes/common/edit_icon.html" %}
            {% include "templates/includes/common/validation_form.html" %}
        {% endif %}
    </div>
    <div class="agreedDisagreeDiv">
        {% if validation.agree %}
            <i
                class="far fa-check agree"
                aria-hidden="true"
            ></i>
            <strong>Agreed</strong>
        {% else %}
            <i
                class="far fa-times disagree"
                aria-hidden="true"
            ></i>
            <strong>Disagreed</strong>
        {% endif %}
    </div>

    <div class="validate-comment">
        {{ validation.comment }}
    </div>

    {% if validation.attachment %}
    <br/>
    <h5>Attachments</h5>
    {% set file_name = validation.attachment.split('/')[-1] %}
    <a href="{{validation.attachment}}" target="_blank">{{ file_name }}</a>
    {% endif %}

    <div class="d-flex align-items-center validate-profile">
        {% set doc_owner = validation.owner %}
        {% set date = validation.modified %}
        {% include "templates/includes/common/user_thumbnail.html" %}
    </div>
</div>