<div class="views"></div>

<script>
    function initializeWatch() {
        new Vue( {
            el: '.views',
            name:'watchBtn',
            delimiters: [ '[[', ']]' ],
            data(){
                return{
                    doctype: `{{doctype}}`,
                    name: `{{name}}`,
                    numOfWatchers: `{{watchers | length}}`,
                    watched: false
                }
            },
            computed: {
                disabled: function () {
                    const isClickable = `{{isClickable}}`;
                    return isClickable.toLowerCase() === 'false';
                },
            },
            methods: {
                toggleWatcher( doctype, name ) {

                    if ( this.disabled ) {
                        // disble the click on card
                        return;
                    }

                    if ( frappe.session.user === 'Guest' ) {
                        frappe.throw( 'Please login to participate.' );
                    }
                    frappe.call( {
                        method: 'contentready_oip.api.can_user_contribute',
                        args: {child_doctype: 'Watch', parent_doctype: doctype, parent_name: name},
                        callback: ( r ) => {
                            // const has_contributed = r.message[0];
                            const is_owner = r.message[ 1 ];
                            if ( is_owner ) {
                                frappe.throw( `You cannot watch your own ${doctype}` );
                            } else {

                                // watched is the previous state (pre-toggling)
                                if ( this.watched ) {
                                    this.numOfWatchers = Number(this.numOfWatchers - 1);
                                } else {
                                    this.numOfWatchers = Number(this.numOfWatchers + 1);
                                }

                                this.watched = !this.watched;
                                // change UI first, then send to server
                                // changeUI(btnId, countId, hasUserWatched, numWatchers);
                                frappe.call( {
                                    method: 'contentready_oip.api.toggle_contribution',
                                    args: {
                                        child_doctype: 'Watch', 
                                        parent_doctype: doctype, 
                                        parent_name: name
                                    },
                                    callback: ( r ) => {
                                        // console.log(r);
                                        // server is the source of truth so we change the UI to reflect that.
                                        // this.watched = r.message[ 0 ];
                                        // this.numOfWatchers = r.message[ 1 ].length;
                                    }
                                } );
                            }
                        }
                    } );
                }
            },
            created() {
                // TODO: Replace this call with a filter on the data-watchers attribute.
                // However, currently, frappe does not expand child tables within child tables into dicts.
                    frappe.call( {
                        method: 'contentready_oip.api.has_user_contributed',
                        args: {
                            child_doctype: 'Watch', 
                            parent_doctype: '{{doctype}}', 
                            parent_name: '{{name}}'
                        },
                        callback: ( r ) => {
                            this.watched = r.message;
                        }
                    } );
            },
            template: `
                <div class="d-flex align-items-center">
                    <button 
                        class="btn social-icon-btn"
                        :class="{
                            'selected': watched,
                            'detail_watch_btn': !disabled,
                            'card_watch_btn': disabled
                        }"
                        v-on:click="toggleWatcher(doctype,name)"
                        role="button"
                        title="Watch"
                    >
                        <i>{% include "public/svg/eye-regular.svg" %}</i>
                    </button>
                    <span class="social-stats">[[numOfWatchers]]</span>
                </div>
          `
        } );
    }
    
    try {
        frappe.require(['/assets/frappe/node_modules/vue/dist/vue.js'],initializeWatch)
    } catch (error) {
        frappe.ready(initializeWatch)
    }
    
</script>


<style>
    .detail_watch_btn {
        width: 3.2rem;
        height: 3.2rem;
    }

    .detail_watch_btn>i>svg {
        width: 1.6rem;
    }

    .detail_watch_btn>i {
        line-height: 0;
    }

    .card_watch_btn {
        width: 2.6rem;
        height: 2.6rem;
    }

    .card_watch_btn>i>svg {
        width: 1.36rem;
    }

    .card_watch_btn>i {
        line-height: 0;
    }
</style>