<!-- jinja -->
<!-- no-breadcrumbs -->
<!-- static -->
<div class="">
  <div class="container">
    {% include "templates/includes/common/filter.html" %}
  </div>
  {% if users %}
  <div class="row">
    <div class="col">
      <div class="col-sm-12 problem-listed-container">
        <div class="d-flex justify-content-between align-items-center">
          <img src="../assets/contentready_oip/svg/contributor_icon.svg" alt="" height="24" width="30" />
          <div class="clearfix w-100" style="font-size: 2rem;">
            <span role="heading" class="ml-2">
              Contributors Listed (<span id="users-count"
                >{{ users | length }} of {{ total_count }}</span
              >)
            </span>
            <span id="solutions-count" class="ml-2 ml-md-0 float-left float-md-right">Page
              {{page}}
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" id="users-container">
      {% for user in users %}
      <div class="col-md-3 mt-4 border pt-4 user-profile-card">
        {% include "templates/includes/common/user_card.html" %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% if has_next_page or page != 1 %}
  {% include "templates/includes/common/page_navigator.html" %}
  {% endif %}
  {% else %}
  <script>
    function timeoutLoader() {
      frappe.ready(() => {
        setTimeout(() => {
          $('#loader').hide();
          $('#noResultFound').toggleClass('d-flex hidden');
        },10 * 1000);
      })
    }
  </script>
  <div class="alert alert-primary mt-5" role="alert" style="font-size: 1.4rem;" id="loader">
    <img src="/assets/contentready_oip/images/loader.gif" alt="loader" onload="timeoutLoader()" height="30" width="30">
    &nbsp;&nbsp;
    Loading content. If no content appears within a few seconds, try changing the filters.
  </div>

  <div class="text-center flex-column hidden" id="noResultFound" style="margin-top: 5rem;">
    <h2 class="text-muted">No Results Found</h2>
    <p>Try changing the filters</p>
  </div>
  {% endif %}
</div>

<style>
  @media only screen and (max-width: 600px){
    .problem-listed-container{
      height: 6.5rem;
    }
  }
</style>