<!-- jinja -->
<!-- no-breadcrumbs -->
<!-- static -->
<div class="container my-5">
  <div class="container">
    {% include "templates/includes/common/filter.html" %}
  </div>

  <div class="row">
    <div class="col">
      <div class="col-sm-12 problem-listed-container">
        <div class="d-flex align-items-center">
          <img src="/files/problem_icon.svg" alt="" height="24" width="20" />
          <h3>
            Solutions Listed (<span id="solutions-count"
              >{{ solutions | length }}</span> of {{ total_count }}, Page {{page}})
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="solutions-container">
    {% for solution in solutions %}
    <div class="col-md-6">
      {% include "templates/includes/solution/solution_card.html" %}
    </div>
    {% endfor %}
  </div>
  {% if has_next_page %}
  <div class="row">
    <div class="col">
      <div class="col-sm-12 problem-listed-container">
        <div class="d-flex align-items-center">
          <h3>
            <a href="?page={{page + 1}}" style="text-decoration: none;color: white;">
              Next Page
            </a>
          </h3>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

<script>
  {% include "public/js/global.js" %}
</script>
