<div class="container">
  <h3>Open Innovation Platform</h3>
  {% raw %}
  <form class="needs-validation" action="/api/method/contentready_oip.api.register" id="register-form" novalidate>
    <div class="form-row mb-3">
      <div class="col-md-4">
        <!-- <label for="first-name">First name</label> -->
        <input type="text" class="form-control" name="first_name" placeholder="First Name" id="first-name"
          v-model="first_name" required>
      </div>
      <div class="col-md-4">
        <!-- <label for="last-name">Last name</label> -->
        <input type="text" class="form-control" name="last_name" placeholder="Last Name" id="last-name"
          v-model="last_name" required>
      </div>
    </div>
    <div class="form-row align-items-center mb-3">
      <div class="col-md-4">
        <div class="input-group mb-2">
          <input type="email" class="form-control" name="email" placeholder="Valid email address" id="email"
            v-model="email" required>
          <div class="invalid-feedback">
            Please provide a valid email.
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" :disabled="!validateForm()">Sign Up</button>
  </form>
  {% endraw %}
</div>