{% extends "templates/web.html" %} {% block page_content %}
<div class="">
  <div class="row">
    <div class="col">
      <h2 class="black-local">{{full_name or name}}</h2>
    </div>
    {% if frappe.session.user == name %}
    <div class="col text-right">
      <button
        class="btn btn-outline-primary outline-primary-btn"
        onclick="navigateToEditProfile()"
      >
        Edit Profile
      </button>
    </div>
    {% endif %}
  </div>
  <hr class="hr-border" />

  <div class="row">
    <div class="col-sm-12 col-md-6">
      {% if photo %}
      <div class="row">
        <div class="col">
          <h3 class="black-local">Profile Photo</h3>
          <img src="{{photo}}" class="default-profile-photo" alt="" />
        </div>
      </div>
      {% endif %}

      <div class="row mt-5 mb-3">
        <div class="col">
          <h3 class="black-local">Basic Information</h3>
        </div>
      </div>

      <div class="row">
        {% if phone %}
        <div class="col-6">
          <p class="heading">Phone Number</p>
          <h5>{{phone}}</h5>
        </div>
        {% endif %}
        <div class="col-6">
          <p class="heading">Email ID</p>
          <h5>{{ name}}</h5>
        </div>
      </div>

      <div class="row my-4">
        {% if city or state or country %}
        <div class="col-6">
          <p class="heading">Location</p>
          <h5>{{city or ''}}, {{state or ''}}, {{country or ''}}</h5>
        </div>
        {% endif %}
        {% set org_route = frappe.db.get_value('Organisation', org, 'route') %}
        {% if org_route %}
        <div class="col-6">
          <p class="heading">Organization</p>
          <h5><a href="/{{ org_route }}">{{ org_title }}</a></h5>
        </div>
        {% endif %}
      </div>

      <div class="row my-4">
        {% if linkedin_profile %}
            <div class="col-6">
                <p class="heading">LinkedIn</p>
                <h5><a href="{{linkedin_profile}}">{{linkedin_profile}}</a></h5>
            </div>
        {% endif %}
      </div>

      <div class="row my-4">
        <div class="col">
          <h5 class="heading">Personas</h5>
          <!-- Here comes Personas -->
          {% if personas | length == 0 %}
          <h5>No persona available</h5>
          {% endif %} {% for persona in personas %}
          <button class="tag actions text-capitalize over_tag">
            {{ persona.persona }}
          </button>
          <!-- {# {% if not loop.last %}, {% endif %} #} -->
          {% endfor %}
        </div>
      </div>

      <div class="row my-4">
        <div class="col">
          <h5 class="heading">Interests</h5>
          {% set sectors = sectors%}
          <!-- {# {% set show_all = True %}
          {% include "templates/includes/common/sector_labels.html" %} #} -->

          {% for sector in sectors %}
          <button class="tag actions text-capitalize over_tag">
            {% if sector.image %}
              <img class="sector-icon" src="{{sector.image}}" />
            {% endif %}
            {{ sector.sector_title }}
          </button>
          {% endfor %} {% if sectors | length == 0 %}
          <h5>No sectors available</h5>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-6">
      <!-- Empty section -->
    </div>
  </div>
</div>

<style>
  .hr-border {
    border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
  }
  .default-profile-photo {
    height: 11.4rem;
    width: 11.4rem;
    object-fit: cover;
  }

  .heading {
    color: var(--secondary2);
    margin-bottom: 0px;
  }

  .heading > h5 {
    color: var(--secondary1);
  }

  .black-local {
    color: var(--secondary1);
  }

  .over_tag {
    padding: 0.5rem 0.7rem;
    font-size: 1.4rem;
    outline: none;
  }
</style>

<script>
    {% include "public/js/global.js" %}

    navigateToEditProfile = ()=> {
      location.href = '/update-profile';
  };
</script>

{% endblock %}

<!-- this is a sample default web page template -->
