<nav class="navbar navbar-light bg-white navbar-expand-lg sticky-top shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="{{ url_prefix }}{{ home_page or "/" }}">
            {% if domain_settings.brandmark %}
            <span class="brandmark"><img src="{{ domain_settings.brandmark | abs_url }}" /></span>
            {% else %}
            <span class="brandmark">{{ brand_html or (frappe.get_hooks("brand_html") or [_("Home")])[0] }}</span>
            {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mt-lg-0 tab-bar nav-left-list nav-left-mob">
                {% if frappe.session.user != 'Guest' %}
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/dashboard">
                        Dashboard
                    </a>
                </li>
                {% endif %}
                <li class="nav-item dropdown profile-btn-li">
                        <a class="nav-link dropdown-toggle" title="Discover" href="#" id="discoverDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Discover
                        </a>
                        <div class="dropdown-menu mt-2 dropdown-menu-right dropdown-section">
                            <a class="dropdown-item nullActive" href="/contributors">
                               Contributors
                            </a>
			    <hr />
                            <a class="dropdown-item nullActive" href="/organisation">
                                Organisations
                            </a>
                        </div>
                </li>
                <li class="nav-item dropdown profile-btn-li">
                        <a class="nav-link dropdown-toggle" title="Collaborate" href="#" id="collaborateDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Collaborate
                        </a>
                        <div class="dropdown-menu mt-2 dropdown-menu-right dropdown-section">
                            <a class="dropdown-item nullActive" href="/problems">
                                Problems
                            </a>
			    <hr />
                            <a class="dropdown-item nullActive" href="/solutions">
                                Solutions
                            </a>
                        </div>
                </li>
                <li class="nav-item dropdown profile-btn-li">
                        <a class="nav-link dropdown-toggle" title="More" href="#" id="moreDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         More
                        </a>
                        <div class="dropdown-menu mt-2 dropdown-menu-right dropdown-section">
                            <a class="dropdown-item nullActive" href="/resources">
                               Resources
                            </a>
                        </div>
                </li>
            </ul>

            <hr />

            <ul class="navbar-nav mt-lg-0 nav-right-list pattern1">
                <li class="nav-item ml-lg-3 search-icon-li d-flex align-items-center ">
                    <button onclick="onClickSearch()" title="Search">
                        <span class="nav-icon">
                            {% include "public/svg/search-solid.svg" %}
                        </span>
                    </button>
                    <span class="d-block d-lg-none ml-1">Search</span>
                </li>
                {% if frappe.session.user != 'Guest' %}
                <li class="nav-item dropdown ml-lg-3 mr-lg-4 message-icon-li d-flex align-items-center">
                    {% set notifications = frappe.get_all('OIP Notification', fields=['text', 'route', 'name'], filters={'target_user': frappe.session.user, 'is_read': False}) %}
                    <button role="button" data-toggle="dropdown" title="Notifications" aria-haspopup="true" aria-expanded="false"
                        class="icon-btn">
                        <span class="nav-icon envelopeIcon">
                            {% include "public/svg/envelope-regular.svg" %}
                        </span>

                        {% if notifications | length > 1 %}
                        <span class="notification-icon"></span>
                        {% endif %}
                    </button>
                    <span class="d-block d-lg-none">Messages</span>
                    <div class="dropdown-menu dropdown-menu-right p-0 mt-2 pattern1"
                        style="width: 47rem; max-height: 70vh; overflow: auto;">

                        <div class=" clearfix pattern1" style="background-color: #E1E1E1;">
                            <p class="float-left dropdown-header" style="font-size: 1.4rem;">Notifications
                                ({{notifications | length}})</p>
                        </div>

                        {% if notifications | length < 1 %}
                        <div class="dropdown-item p-4">
                            <img src="../assets/contentready_oip/svg/no_message.svg" alt="">
                            <span class="pattern1 ml-2" style="font-weight: 500;">No new notifications. You are all
                                caught up.</span>
                        </div>
                        {% endif %}

                        {% for n in notifications %}
                        {% set heading = n.text.split(":")[0] %}
                        {% set description = n.text.split(":")[1] %}

                        <a class="dropdown-item text-wrap p-4 border-bottom" href="javascript:void(0)"
                            onclick="openNotification(`{{n.name}}`, `{{n.route}}`)">
                            <section>
                                {% if "enrich" in heading %}
                                <img src="../assets/contentready_oip/svg/enriched.svg" alt="">
                                {% elif "like" in heading %}
                                <img src="../assets/contentready_oip/svg/like_icon.svg" alt="">
                                {% elif "comment" in heading %}
                                <img src="../assets/contentready_oip/svg/commented.svg" alt="">
                                {% elif "collaborate" in heading %}
                                <img src="../assets/contentready_oip/svg/collaborated.svg" alt="">
                                {% elif "validate" in heading %}
                                <img src="../assets/contentready_oip/svg/validated.svg" alt="">
                                {% elif "solution" in heading %}
                                <img src="../assets/contentready_oip/svg/solution_icon.svg" height="25" width="35" alt="">
                                {% elif "problem" in heading %}
                                <img src="../assets/contentready_oip/svg/problem_icon.svg" height="25" width="35" alt="">
                                {% endif %}
                                <span class="pattern1 ml-2" style="font-weight: 500;">{{heading}}</span>
                            </section>
                            <section class="text-muted">{{description[:100]}}{{'...' if n.text|length > 60 else ''}}
                            </section>
                        </a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown profile-btn-li">
                    {% set matched = frappe.get_list('User Profile', filters={'user': frappe.session.user}) %}
                    {% if matched | length %}
                        {% set profile = frappe.get_doc('User Profile', frappe.session.user) %}
                        <a class="nav-link profile-icon dropdown-toggle" title="Profile" href="#" id="profileDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{profile.photo|default('/assets/contentready_oip/images/default-avatar.jpg', true)}}" alt="profile photo" class="profile-photo"
                                onerror="javascript:this.src='/assets/contentready_oip/images/default-avatar.jpg'" />

                            <span class="d-lg-none text-capitalize ml-3" style="color: var(--secondary1);">Profile</span>
                        </a>
                        <div class="dropdown-menu mt-2 dropdown-menu-right dropdown-section">
                            <div id="deskRoute"></div>
                            <a class="dropdown-item nullActive" href="/update-profile">
                                <img src="../assets/contentready_oip/svg/profile.svg" alt="" width="16" height="16" />
                                <span> Profile</span>
                            </a>
                            <div id="orgList"></div>
                            <hr/>
                            <a href="javascript:void(0);" class="dropdown-item d-none d-lg-block" onclick="logout()">
                                <img src="../assets/contentready_oip/svg/logout.svg" alt="" width="16" height="16" />
                                <span>Log Out</span>
                            </a>
                        </div>
                    {% else %}
                        <a class="nav-link profile-icon dropdown-toggle" href="#" id="profileDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="/assets/contentready_oip/images/default-avatar.jpg" alt="profile photo" class="profile-photo"/>

                            <span class="d-lg-none text-capitalize ml-3" style="color: var(--secondary1);">Profile</span>
                        </a>
                        <div class="dropdown-menu mt-2 dropdown-menu-right dropdown-section">
                            <div id="deskRoute"></div>
                            <a href="javascript:void(0);" class="dropdown-item d-none d-lg-block" onclick="logout()">
                                <img src="../assets/contentready_oip/svg/logout.svg" alt="" width="16" height="16" />
                                <span>Log Out</span>
                            </a>
                        </div>
                    {% endif %}
                </li>
                <li class="nav-item d-block d-lg-none">
                    <button (click)="logout()" class="">
                        <span class="nav-icon">
                            {% include "public/svg/logout.svg" %}
                        </span>
                    </button>

                    <span class="display-sm-md ">Log Out</span>
                </li>

                <div id="add-content-actions"></div>

                {% else %}
                <li class="nav-item">
                    <!-- <button class="pr-0 text-primary" onclick="onClickLogin()">
                        Login
                    </button> -->
                    <button onclick="onClickLogin()" class="loginIconBtn">
                        <span class="nav-icon loginIcon d-block d-lg-none">
                            {% include "public/svg/log-in.svg" %}
                        </span>
                        <span class="display-sm-md text-primary">Login</span>
                    </button>

                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<style>
    .nullActive {
    background-color: var(--secondary6) !important;
    color: var(--secondary1) !important;
    }
    
    .nullActive:hover {
    background-color: var(--secondary5) !important;
    
    }

    .brandmark>img{
        height: 3.4rem;
    }

    .profile-photo{
        height: 30px;
        width: 30px;
        border-radius: .4rem; 
        object-fit:cover;
    }

    .nav-icon{
        margin-right: 1rem;
    }

    .nav-icon svg{
        width: 2rem;
        height: 2rem;
        color: var(--secondary1);
    }
    
    .loginIcon svg{
        color: var(--primary3);
    }

    .envelopeIcon svg{
        width: 2.4rem;
        height: 2.4rem;
    }
    
    @media screen and (max-width: 768px) {
        .loginIconBtn{
            display: flex;
        }

        .loginIcon{
            margin-right: 2rem;
        }
    }

    @media screen and (max-width: 600px) {
        .profile-photo{
            height: 24px;
            width: 24px;
            margin-left: .9rem;
        }

        .nav-left-mob {
            margin-left: 1rem;
        }

        .brandmark>img{
            margin-left: 1rem;
        }
        
        .add-problem-li{
            margin-left: 1rem;
            margin-bottom: .5rem;
        }

        .loginIcon{
            margin-right: 2rem;
        }

        .loginIconBtn{
            display: flex;
        }

    }
</style>


<script>
    frappe.ready(()=>{
        add_desk_route = () =>{
            frappe.call( {
                method: 'contentready_oip.api.has_admin_role',
                callback: function( r ) {
                    if (r.message) {
                        new Vue({
                            el: '#deskRoute',
                            template:`
                                <div>
                                <a class="dropdown-item" href="/desk">
                                    <img src="../assets/contentready_oip/svg/settings.svg" alt="Admin" width="16" height="16" />
                                    <span>Admin</span>
                                </a>
                                <hr/>
                                </div>
                            `
                        }) 
                    }
                }
            } );
        }

        add_org_list = () =>{
            frappe.call( {
                method: 'contentready_oip.api.get_user_orgs',
                callback: function( r ) {
                    if (r.message) {
                        r.message.map(o => {
                            const el = `<a class="dropdown-item" href="/organisation?name=${o.name}"><img src="../assets/contentready_oip/svg/org.svg" alt="Org" width="16" height="16" class="mr-1" /><span>${o.title}</span></a>`;
                            $('#orgList').append(el);
                        })
                    }
                }
            } );
        }

        add_content_actions = () =>{
            frappe.call( {
                method: 'contentready_oip.api.has_collaborator_role',
                callback: function( r ) {
                    if (r.message) {
                        new Vue({
                            el: '#add-content-actions',
                            template:`
                            <li class="nav-item dropdown ml-lg-5 add-problem-li">
                                <a class="nav-link dropdown-toggle add-problem-btn" href="javascript:void(0);" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Add Problem / Solution
                                </a>
                                <div class="dropdown-menu mt-2 dropdown-menu-right dropdown-section">
                                    <a class="dropdown-item py-2" href="/add-problem?new=1">
                                        <img src="../assets/contentready_oip/svg/problem_icon.svg" alt="" height="22" width="30" />
                                        <span> Add Problem</span>
                                    </a>
                                    <a class="dropdown-item py-2" href="/add-solution?new=1">
                                        <img src="../assets/contentready_oip/svg/solution_icon.svg" alt="" height="22" width="30" />
                                        <span> Add Solution </span>
                                    </a>
                                </div>
                            </li>
                            `
                        }) 
                    }
                }
            } );
        }
    
        add_desk_route();
        add_org_list();
        add_content_actions();
    })

    onClickLogin = () => {
        console.log(".>>>>");
        window.location.href = ' /login';
    };

    logout = () => {
        var me = this;
        me.logged_out = true;
        return frappe.call( {
            method: 'logout',
            callback: function( r ) {
                if ( r.exc ) {
                    return;
                }
                window.location.href = '/';
            }
        } );
    };

    onClickSearch = () => {
        location.href = '/search';
        if (localStorage) {
            localStorage.setItem("filter_sectors", "");
            localStorage.setItem("filter_location_name", "");
            localStorage.setItem("filter_location_lat", "");
            localStorage.setItem("filter_location_lng", "");
            localStorage.setItem("filter_location_range", "");
            localStorage.setItem("search_query", "");
        }
    };

    openNotification = ( name, route ) => {
        // console.log(name, route);
        // set notification as read
        frappe.call( {
            method: 'contentready_oip.api.set_notification_as_read',
            args: {
                'notification_name': name
            },
            callback: ( r ) => {
                if ( !route.startsWith( '/' ) ) {
                    route = '/' + route;
                }
                // console.log(r.message);
                // then open the link
                window.location.href = route;
            }
        } )
    };
</script>
