{% extends "templates/web.html" %} {% block page_content %}
<div class="">
  <div class="row">
    <div class="col">
      <h2 class="black-local">{{title}}</h2>
    </div>
    
    <div class="col text-right">
      <button
        class="btn btn-outline-primary outline-primary-btn"
        onclick="navigateToEditOrg()"
      >
        Edit Organisation
      </button>
    </div>
  </div>
  <hr class="hr-border" />

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="row">
        <div class="col">
          <h3 class="black-local">Brandmark</h3>
          <img src="{{photo}}" class="default-profile-photo" alt="" />
        </div>
      </div>

      <div class="row mt-5 mb-3">
        <div class="col">
          <h3 class="black-local">Basic Information</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <p class="heading">Website</p>
          <h5><a href="{{website}}">{{website}}</a></h5>
        </div>
        <div class="col-6">
          
        </div>
      </div>

      <div class="row my-4">
        <div class="col-6">
          <p class="heading">Location</p>
          <h5>{{city}}, {{state}}, {{country}}</h5>
        </div>
        <div class="col-6">
          
        </div>
      </div>

      <div class="row my-4">
        <div class="col">
          <h5 class="heading">Interests</h5>
          {% set sectors = sectors%}
          <!-- {# {% set show_all = True %}
          {% include "templates/includes/common/sector_labels.html" %} #} -->

          {% for sector in sectors %}
          <button class="tag actions text-capitalize over_tag">
            {{ sector.sector_title }}
          </button>
          {% endfor %} {% if sectors | length == 0 %}
          <h5>No sectors available</h5>
          {% endif %}
        </div>
      </div>

  </div>
</div>

<style>
  .hr-border {
    border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
  }
  .default-profile-photo {
    height: 11.4rem;
    width: 11.4rem;
    object-fit: cover;
  }

  .heading {
    color: var(--secondary2);
    margin-bottom: 0px;
  }

  .heading > h5 {
    color: var(--secondary1);
  }

  .black-local {
    color: var(--secondary1);
  }

  .over_tag {
    padding: 0.5rem 0.7rem;
    font-size: 1.4rem;
    outline: none;
  }
</style>

<script>
    {% include "public/js/global.js" %}

    navigateToEditOrg = ()=> {
      location.href = '/update-organisation';
  };
</script>

{% endblock %}

<!-- this is a sample default web page template -->
