<div class="bg-white">
    <ul class="nav nav-tabs nav-section nav-mob-section" id="leftTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
                aria-controls="overview" aria-selected="true">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="enrichments-tab" data-toggle="tab" href="#enrichments" role="tab"
                aria-controls="enrichments" aria-selected="false">Enriched ({{ enrichment_count }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="validations-tab" data-toggle="tab" href="#validations" role="tab"
                aria-controls="validations" aria-selected="false">Validated (<span
                    id="validation-count">{{ validations | length }}</span>)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="collaborations-tab" data-toggle="tab" href="#collaborations" role="tab"
                aria-controls="collaborations" aria-selected="false">Collaborated (<span
                    id="collaboration-count">{{ collaborations | length }}</span>)</a>
        </li>
    </ul>
    <div id="leftTabGroup" class="pb-2">
        <div class="tab-content" id="leftTabContent">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                {% include "templates/includes/problem/overview.html" %}
            </div>
            <div class="tab-pane fade" id="enrichments" role="tabpanel" aria-labelledby="enrichments-tab">
                <div class="col pb-4">
                    {% for e in enrichments | reverse %}
                    {% set enrichment = frappe.get_doc('Enrichment', e.enrichment).as_dict() %}
                    {% if enrichment.is_published %}
                    {% include "templates/includes/problem/enrichment_card.html" %}
                    {% endif %}
                    {% endfor %}

                    {% set img_src = "../assets/contentready_oip/svg/no_enrichment_yet.svg" %}
                    {% if frappe.session.user != 'Guest' %}
                        {% if (enrichments | length) == 0 %}
                        {% set msg = "No enrichments yet" %}
                        {% include "templates/includes/common/empty_card.html" %}
                        {% endif %}
                    {% else %}
                        {% if (enrichments | length) == 0 %}
                        {% set msg = "No enrichments yet. <br /> <span class='pre-login-text'><a href='/login'>Login</a></span> to enrich this problem." %}
                        {% include "templates/includes/common/empty_card.html" %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="validations" role="tabpanel" aria-labelledby="validations-tab">
                <div class="col pb-4">
                    <div class="row px-3 pt-3">
                        {% for validation in validations | reverse %}
                        {% include "templates/includes/common/validation_card.html" %}
                        {% endfor %}

                    </div>
                    {% set img_src = "../assets/contentready_oip/svg/no_validation_yet.svg" %}
                    {% if frappe.session.user != 'Guest' %}
                        {% if (validations | length) == 0 %}
                        {% set msg = "No validations yet" %}
                        {% include "templates/includes/common/empty_card.html" %}
                        {% endif %}
                    {% else %}
                        {% if (validations | length) == 0 %}
                        {% set msg = "No validations yet. <br /> <span class='pre-login-text'><a href='/login'>Login</a></span> to validate this problem." %}
                        {% include "templates/includes/common/empty_card.html" %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="collaborations" role="tabpanel" aria-labelledby="collaborations-tab">
                <div class="col pb-4">
                    <div class="row px-3 pt-3">
                        {% for c in collaborations | reverse %}
                        {% set collaboration = frappe.get_doc('Collaboration Intent', c.collaboration_intent) %}
                        {% include "templates/includes/common/collaboration_card.html" %}
                        {% endfor %}
                    </div>

                    {% set img_src = "../assets/contentready_oip/svg/no_collaborator_yet.svg" %}
                    {% if frappe.session.user != 'Guest' %}
                        {% if (collaborations | length) == 0 %}
                        {% set msg = "No collaborators yet" %}
                        {% include "templates/includes/common/empty_card.html" %}
                        {% endif %}
                    {% else %}
                        {% if (collaborations | length) == 0 %}
                        {% set msg = "No collaborators yet. <br /> <span class='pre-login-text'><a href='/login'>Login</a></span> to collaborate on this problem." %}
                        {% include "templates/includes/common/empty_card.html" %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>