<style>
  .enrichment-modal-header {
    align-items: center;
    padding: 0;
  }

  .dismiss-modal {
    font-size: 2rem;
  }

  .tab-width {
    width: 10rem;
  }

  .enrichment-modal-footer>.btn-text {
    border-color: transparent;
    color: var(--tertiary1);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: var(--space);
    line-height: 2rem;
  }

  .enrichment-modal-footer>.btn-text:hover {
    border-color: none;
    color: var(--tertiary1);
  }

  .enrichment-modal-footer>.solid-btn {
    border-color: var(--primary2);
    background-color: var(--primary2);
    padding: 0.5rem 1rem;
    color: var(--secondary6);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: var(--space);
    line-height: 2rem;
  }
</style>

<div class="modal fade" id="enrichment-modal-{{ name }}" tabindex="-1" role="dialog"
  aria-labelledby="enrichment-label-{{name}}" aria-hidden="true">
  <div class="modal-dialog modal-full modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header enrichment-modal-header">
        <ul class="nav nav-tabs nav-section nav-justified nav-tab-section" id="leftTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active tab-width" href="#details" aria-controls="details" role="tab"
              data-toggle="tab">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab-width" href="#media" aria-controls="media" role="tab" #media
              data-toggle="tab">Media</a>
          </li>
        </ul>

        <button type="button" class="close" data-dismiss="modal" style="margin: unset;"
          aria-label="Close dismiss-modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="details">
            <div class="row px-4">
              <div class="col-8">
                <div class="row" style="padding-bottom: 1rem;" hidden>
                  <div class="col">
                    <h2 class="modal-title" id="enrichment-label-{{name}}" hidden>
                      enrichment.title
                    </h2>
                  </div>
                </div>
                <div class="row" style="padding-bottom: 1rem;">
                  <div class="col">
                    <h3 class="heading">
                      Description
                    </h3>
                    {% set long_text = enrichment.description %}
                    {% set short_text = enrichment.short_description %}
                    {% set name = name %}
                    {% include "templates/includes/common/read_more.html" %}
                  </div>
                </div>
                <div class="row">
                  {% set fields = { 
                    'Organization': enrichment.org_title, 
                    'Beneficiaries': enrichment.beneficiaries, 
                    'Resources Needed': enrichment.resources_needed, 
                    'Impact': enrichment.impact, 
                    'Extent': enrichment.extent, 
                    'Population Affected': enrichment.population_affected,
                    'Location(s)': enrichment.city + ', ' + enrichment.country, } %}

                  {% for field in fields %} {% set label = field %}
                  {% set value = fields[field] %}
                  {% include "templates/includes/common/overview_field.html" %}
                  {% endfor %}
                </div>
              </div>

              <div class="col-4">
                <!-- Media comes here -->
                {% set media = enrichment.media %}
                {% set id = 'card-'+enrichment.name %}
                {% include "templates/includes/common/card_featured_image.html" %}
              </div>
            </div>
          </div>

          {% if (enrichment.media | length) > 0 %}
          {% set media = enrichment.media %}
          {% set id = enrichment.name %}

          <div role="tabpanel" class="tab-pane" id="media">
            <div class="container-fluid">
              <div class="row attachment-modal-container">

                {% for m in media %}
                <div class="m-2">
                  <a data-fancybox="gallery" href="{{m.attachment}}">
                    <img src="{{m.attachment or m.thumbnail }}" class="small-img-attachment-modal"
                      alt="{{ m.description }}" id="{{id}}-{{loop.index}}" />
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="modal-footer enrichment-modal-footer">
        <button type="button" class="btn btn-text" onclick="deleteEnrichment('{{name}}')">
          Delete
        </button>
        <button type="button" class="btn solid-btn" onclick="window.location.href = `/add-enrichment?name={{name}}`">
          Edit
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  deleteEnrichment = name => {
    if (confirm('Are you sure you want to delete this enrichment?')) {
      frappe.call({
        method: 'contentready_oip.api.delete_enrichment',
        args: { name: name },
        callback: r => {
          // console.log(r);
          window.location.reload();
        }
      });
    }
  };

  frappe.ready(async () => {
    // Simple sleep(ms) function from https://stackoverflow.com/a/48882182
    const sleep = m => new Promise(r => setTimeout(r, m));
    await sleep(500);


    const more_img_btn = document.querySelector(`#enrichment-modal-${`{{name}}`} button[data-target="#attachment-modal-card-${`{{name}}`}"]`);
    more_img_btn.removeAttribute(`data-target`);
    more_img_btn.addEventListener('click', function () {
      document.querySelector('a[href="#media"]').click();
    })
  });


</script>

<style>
  .active-thumbnail {
    outline: 0.5rem auto rgba(108, 108, 245, 0.918);
  }

  .attachment-modal-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 15rem);
    grid-gap: 10px;
    overflow: scroll;
  }
</style>