<div class="container mt-20">
  <div class="row bg-white main-card">
    <div class="col-md-4 img-section">
      {% set media = media %} {% include
      "templates/includes/common/header_featured_image.html" %}
    </div>
    <div class="col-md-8 card-detail-section">
      <div>
        <div class="row align-items-center pb-2">
          <div class="col-sm-12 col-md-4 px-0 px-md-4">
            {% include "templates/includes/problem/problem_label.html" %}
          </div>
          <div class="col-sm-12 col-md text-left text-md-right px-0">
            <a href="#solutions" class="see-solutions">
              See Solution(s)
            </a>
            <span class="ml-5 ml-md-2">
              {% if frappe.session.user == owner %} 
              {% set doctype = doctype %}
              {% set name = name %} 
              {% include "templates/includes/common/edit_icon.html" %} 
              {% endif %} 
              {% include "templates/includes/common/share.html" %}
            </span>
          </div>
        </div>

        {% include "templates/includes/common/validation_form.html" %} 
        {% include "templates/includes/common/collaboration_form.html" %} 

        <div class="row title-container">
          <div class="col pr-0 problem-on-mobile">
            <h1 class="problem-title">
              {{ title }}
            </h1>
            {% include "templates/includes/common/location_tag.html" %}
          </div>
        </div>
      </div>

      <div>
        <div class="row mt-md-5 mt-sm-4">
          <div class="col d-flex align-items-center problem-on-mobile">
            {% set doc_owner = owner %} {% set date = creation %} {% include
            "templates/includes/common/user_thumbnail.html" %}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-4 mt-3 action-btn-section">
              {% set doctype = doctype %} {% set name = name %}
              <div class="header-stats-container">
                <div class="header-likes">
                  {% include "templates/includes/common/likes.html" %}
                </div>
                <div class="watchers-likes">
                  {% include "templates/includes/common/watchers.html" %}
                </div>
              </div>
          </div>

          <div class="col-sm-12 col-md-8 pr-0 action-btn-section mt-3">
            {% if is_collaborator %}
              <div class="d-flex justify-content-between flex-wrap">
                  <button
                    type="button"
                    class="card-btn mt-2 mt-lg-0"
                    onclick="openEnrichmentForm('{{doctype}}', '{{name}}')"
                  >
                    Enrich
                  </button>
                  <button
                    type="button"
                    class="card-btn mt-2 mt-lg-0"
                    onclick="openValidationForm('{{doctype}}', '{{name}}')"
                  >
                    Validate
                  </button>
                  <button
                    type="button"
                    class="card-btn mt-2 mt-lg-0"
                    onclick="openCollaborationForm('{{doctype}}', '{{name}}')"
                  >
                    Collaborate
                  </button>
                  <button
                    type="button"
                    class="card-btn mt-2 mt-lg-0 add-solution-btn"
                    onclick="openSolutionForm('{{name}}')"
                  >
                    Add Solution
                  </button>
              </div>
            {% elif is_service_provider %}
            <div class="d-flex justify-content-end flex-wrap">
              <button
                type="button"
                class="card-btn mt-2 mt-lg-0 add-solution-btn"
                style="margin-left: auto"
                onclick="openCollaborationForm('{{doctype}}', '{{name}}')"
              >
                Collaborate
              </button>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .header-stats-container{
    height: 100%;
    align-items: center;
  }

  @media only screen and (max-width: 768px) and (min-width: 600px){
    .header-stats-container{
      grid-template-columns: 45% 45%;
    }
  }
</style>

<script>
  {% include "public/js/header_section.js" %}
</script>
