<div class="col pt-20">
    <div
        id="descriptionText"
        class="description-rules"
    >
        <h3 class="heading">
            Description
        </h3>
        <p id="problemDescription">
            {{ description }}
        </p>
    </div>
</div>

<hr />
<div class="col pt-3">
    <div class="row">
        {% if org_title %}
        <div class="col-sm-6">
            <div>
                <h3 class="heading">
                    Organization
                </h3>

                <p class=" description-format">
                    {{ org_title }}
                </p>
            </div>
        </div>
        {% endif %}
        {% if min_population %}
        <div class="col-sm-6">
            <h3 class="heading">
                Population Affected
            </h3>
            <p
                class=" description-format"
            >
                Between {{ min_population }} and
                {{ max_population }}
            </p>
            <p
                class=" description-format"
            >
                More than {{ min_population }}
            </p>
        </div>
        {% endif %}
    </div>
    <div class="row">
        {% if beneficiaries %}
        <div class="col-sm-6">
            <h3 class="heading">
                Beneficiary Attributes
            </h3>
            <p class=" description-format">
                {{ beneficiaries }}
            </p>
        </div>
        {% endif %}
        {% if resources_needed %}
        <div class="col-sm-6">
            <h3 class="heading">
                Resources Needed
            </h3>
            <p class=" description-format">
                {{ resources_needed }}
            </p>
        </div>
        {% endif %}
    </div>
    <div class="row">
        {% if impact %}
        <div class="col-sm-6">
            <h3 class="heading">
                Impact
            </h3>
            <p class=" description-format ">
                {{ impact }}
            </p>
        </div>
        {% endif %}
        {% if extent %}
        <div class="col-sm-6">
            <h3 class="heading">
                Extent
            </h3>
            <p class=" description-format">
                {{ extent }}
            </p>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <div>
                <h3 class="heading">
                    Location(s)
                </h3>
                <a
                        href="javascript:void(0);"
                        class="description-format">
                        {{city|default('', true)}}, {{country|default('', true)}}
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="heading">
                Sectors
            </h3>

            <div class="tags">
                {% for sector in sectors %}
                <button class="tag actions text-capitalize">
                    {{ sector.sector }}
                </button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<hr />

<div class="col pb-3">
    <h3 class="heading" id="solutionCards" *ngIf="solutions.length">
        This problem has the following solutions
    </h3>

    <div class="row">
    </div>
</div>
