<style>
  .updated-at {
    height: 2rem;
    color: var(--secondary2);
    font-size: var(--f12);
    letter-spacing: -0.01rem;
    line-height: 2rem;
    text-align: right;
  }
</style>
{% set date = frappe.utils.now() %}
<div class="contribution-container">
  {% include "templates/includes/problem/problem_card.html" %}

  <div class=" d-flex justify-content-around update-section py-2 border"
    style="margin: auto 2rem;border-radius: var(--round4);">
    <div class="enriched">
      <div class="d-flex align-items-center">
        <div>
          <img src="{{'../assets/contentready_oip/svg/enriched.svg' if problem.enriched else '../assets/contentready_oip/svg/not_enriched.svg'}}" alt="Enriched Icon" />
        </div>
        <div class=" ml-2 pattern1">Enriched</div>
      </div>
      <div class="updated-at">{{frappe.utils.pretty_date(problem.enriched) if problem.enriched else ''}}</div>
    </div>

    <div class="validated">
      <div class="d-flex align-items-center">
        <div>
          <img src="{{'/files/validated.svg' if problem.validated else '/files/not_validated.svg'}}" alt="Validated Icon" />
        </div>
        <div class="ml-2 pattern1">Validated</div>
      </div>
      <div class="updated-at">{{frappe.utils.pretty_date(problem.validated) if problem.validated else ''}}</div>
    </div>
    <div class="collaborated">
      <div class="d-flex align-items-center">
        <div>
          <img src="{{'/files/collaborated.svg' if problem.collaborated else '/files/not_collaborated.svg'}}" alt="Collaborated Icon" />
        </div>
        <div class="ml-2 pattern1">Collaborated</div>
      </div>
      <div class="updated-at">{{frappe.utils.pretty_date(problem.collaborated) if problem.collaborated else ''}}</div>
    </div>
    <div class="commented">
      <div class="d-flex align-items-center">
        <div>
          <img src="{{'/files/commented.svg' if problem.discussed else '/files/not_commented.svg'}}" alt="Commented Icon" />
        </div>
        <div class="ml-2 pattern1">Commented</div>
      </div>
      <div class="updated-at">{{frappe.utils.pretty_date(problem.discussed) if problem.discussed else ''}}</div>
    </div>
  </div>

</div>