<style>
  .problem-container-small {
    cursor: pointer;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .small-created-by {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
  }
</style>

<div
  class="problem-container-small"
  onclick="window.location.href = '/{{problem.route}}'"
  data-name="{{problem.name}}"
  id="problem-card-{{problem.name}}"
>
  {% include "templates/includes/problem/problem_label.html" %}

  <div class="heading-container mt-3 text-capitalize ">
    <h2 class="heading">
      {{problem.title}}
    </h2>
  </div>

  <div class="small-created-by mt-3">
    {% set doc_owner = problem.owner %} {% set date = problem.creation %} 
    {% include "templates/includes/common/small_user_thumbnail.html" %}
  </div>

    <hr>
</div>
