<h3 class="heading" id="solutionCards">
  This problem has the following solutions.
</h3>

<div class="row">
  {% for s in solutions %} 
  <div class="col-sm-12 col-md-6">
    {% set solution = frappe.get_doc('Solution', s.name) %}
    {% include "templates/includes/solution/solution_card_small.html" %}
  </div>
  {% endfor %}
</div>

<!-- {# if no solution found #} -->
{% if solutions | len == 0 %}
{% set msg = "No solution available yet" %}
{% set img_src = "../assets/contentready_oip/svg/solution_icon.svg" %}
{% include "templates/includes/common/empty_card.html" %}
{% endif %}

<style>
    .solution-section-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
</style>