<div id="signup-page"></div>

<script id="signup-template" type="text/x-template">
    <div class="container-fluid bg-white">
        <div class="row d-flex align-items-start flex-column-reverse flex-md-row register-section" style="min-height: 70vh;">
    
            <section class="col-md-3 left-section" style="min-height: inherit;">
                <h2 class="left-heading">What can you do?</h2>
                <div class="first-description">
                    <div class="heading">
                        <i>{% include "public/svg/problem_icon.svg" %}</i>
                    </div>
                    <div class="body">
                        <h3>Add Problem</h3>
                        <p>
                            Add problems you want others to understand and
                            solve.
                        </p>
                    </div>
                </div>
                <div class="second-description">
                    <div class="heading">
                        <i>{% include "public/svg/solution_icon.svg" %}</i>
                    </div>
                    <div class="body">
                        <h3>Provide Solution</h3>
                        <p>Solve problems that others have identified.</p>
                    </div>
                </div>
            </section>
    
            <section class="col-md right-section" style="min-height: inherit;">
                <form class="signup-form">
                    <h2>Register</h2>
                    <p>
                        Already have a Social Alpha account?
                        <a href="/auth/login">Log in</a>
                    </p>
    
                    <div class="fullname mt-5">
                        <label for="">Full Name</label>
                        <input type="text" required />
                    </div>
    
                    <div class="email mt-5">
                        <label for="email">Email</label>
                        <input type="email" required />
                    </div>
    
                    <div class="password-input mt-5">
                        <div class="password-input-labels">
                            <label for="password">Password</label>
                            <button class="password-show float-right text-primary" @click.default="toggleEye">
                                <div v-if="show_eye">
                                    <i>{% include "public/svg/eye-solid.svg" %}</i>
                                    <span> &nbsp;Show</span>
                                </div>
                                <div v-if="!show_eye">
                                    <i>{% include "public/svg/eye-slash-solid.svg" %}</i>
                                    <span> &nbsp;Hide</span>
                                </div>
                            </button>
                        </div>
    
                        <input type="password" ref="pwd" required />
                        <small class="error-msg text-danger" v-if="false">
                            Sorry! wrong pattern!
                        </small>
                        <small class="text-danger" v-if="false">
                            Needs atleast 6 characters.
                        </small>
                        <p class="text-muted font-weight-normal mb-0">
                            Must be 6 or more characters with 1 special, 1
                            uppercase character
                        </p>
                    </div>
    
                    <div class="confirm-password mt-5">
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" required />
                        <small class="error-msg text-danger" v-if="false">
                            Password mismatch
                        </small>
                    </div>
    
                    <button type="submit" class="btn btn-primary btn-block register-button">
                        Register
                    </button>
                </form>
            </section>
    
        </div>
    </div>
</script>