<div id="login-page"></div>

<script type="text/x-template" id="login-template">
    <div class="container">
        <div class="row justify-content-center align-items-center display-size">
            <div class="col-lg-4 col-md-3"></div>
            <div class="col-lg-4 col-md-6">
                <div class="login">
                    <h2 class="login-heading" role="heading" aria-level="1">
                        Login
                    </h2>
                    <p class="login-description mt-2">
                        Need a Social Alpha account? <a routerLink="/auth/register">Create an account</a>
                    </p>

                    <div class="social-login mt-4">
                        <a class="linkedin-button" href="javascript:void(0);" title="Linkedin">
                            <i>{% include "public/svg/linkedin-in-brands.svg" %}</i>
                        </a>
                        
                        <a class="google-button" href="javascript:void(0);" title="Google">
                            <i>{% include "public/svg/google-brands.svg" %}</i>
                        </a>
                    </div>

                    <form>
                        <div class="email-input mt-4">
                            <label for="email">Email</label>
                            <input type="text" />
                        </div>
                        <div class="password-input mt-4">
                            <div class="password-input-labels">
                                <label for="password">Password</label>
                                <button class="password-show" @click="toggleEye" type="button">
                                    <div v-if="show_eye" class="eye">
                                        <i>{% include "public/svg/eye-solid.svg" %}</i>
                                        <span> &nbsp;Show</span>
                                    </div>
                                    <div v-if="!show_eye" class="eye">
                                        <i>{% include "public/svg/eye-slash-solid.svg" %}</i>
                                        <span> &nbsp;Hide</span>
                                    </div>
                                </button>
                            </div>

                            <input type="password" ref="pwd" />
                        </div>

                        <button type="submit"
                            class="btn btn-block text-capitalize font-weight-bold mt-5 btn-primary login-button">
                            Log in
                        </button>
                    </form>

                    <div class="forgot-password mt-5">
                        <a href="javascript:void(0);">Forgot your password?</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-3"></div>
        </div>
    </div>
</script>