{% extends "templates/web.html" %}

{% block page_content %}

<!-- <script>
    {% include "public/js/dropzone.js" %}
</script>
<script>
    Dropzone.autoDiscover = false;
    // Dropzone.url = "/api/method/upload_file";
    // Dropzone.addRemoveLinks = true;
    // Dropzone.headers= {
    //     'Accept': 'application/json',
    //     'X-Frappe-CSRF-Token': frappe.csrf_token
    // };
</script> -->

{% include "templates/includes/problem/header.html" %}

<div class="container mt-20 mb-5">
    <div class="row">
        <div class="col-lg-7">
            {% include "templates/includes/problem/detail_section.html" %}
        </div>
        <div class="col-lg-5 margin-top-20">
            {% include "templates/includes/common/discussion_section.html" %}
        </div>
    </div>
</div>

<style>
    {% include "public/css/dropzone.css" %}
</style>

{% endblock %}
